<template>
	<NavMenu v-show="$route.meta.showNavMenu!==false" :user="user" />

	<router-view :key="key" v-slot="{ Component }">
		<keep-alive>
			<component :is="Component" :user="user" :userInfo="userInfo" />
		</keep-alive>
	</router-view>
</template>

<script>
import { mapActions } from 'vuex'
import { mapGetters } from 'vuex'
import * as userAPI from '@/api/user'

import NavMenu from "@/components/NavMenu";

export default {
	components: { NavMenu, },
	data() {
		return {
			user: null,
			userInfo: null,
		}
	},
	computed: {
		...mapGetters(['getUser', 'getUserInfo', ]),
		key() {
			return this.$route.path + Math.random()
		},
	},
	methods: {
		...mapActions(['setUser', 'setUserInfo', ]),
	},
	created() {
		// 获取浏览器localStorage，判断用户是否已经登录
		userAPI.checkToken(localStorage.getItem('token')).then(res => {
			// 如果已经登录，设置vuex登录状态
			if (res.status == 200) {
				this.setUser(JSON.parse(localStorage.getItem('user')))
				this.setUserInfo(JSON.parse(localStorage.getItem('userInfo')))
			} else {
				localStorage.removeItem('user')
				localStorage.removeItem('token')
				localStorage.removeItem('userInfo')
			}
		})
	},
	watch: {
		// 获取vuex的登录状态
		getUser: function(val) {
			if (val === '') {
				// 用户没有登录
				this.user = undefined
			} else {
				this.user = this.$store.getters.getUser
				this.userInfo = this.$store.getters.getUserInfo
			}
		}
	},
}
</script>


<style lang="less">
// My Code
* {
	padding: 0px;
	margin: 0px;
}

#app {
	font-family: sans-serif, Avenir, Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-align: center;
	color: #2c3e50;

	// my config
	// background: pink;
	background: #fbfbfb;
	// background: rgb(239,245,248);

	// background-image: url(https://www.helloimg.com/images/2022/06/17/ZSHCsr.md.jpg);
	// background-size: cover;
	// background-repeat: no-repeat;
	// background-position: center;
	// background-attachment:fixed; // 固定，不随页面移动

	--main-width: 1200px;
	--main-padding-top: 80px;
	--main-padding-bottom: 70px;

	--link-color: #448aff;
	--muted-color: #999;
	--muted-color-light: #8594ad;
	--muted-color-dark: #000;
	--button-color: #667a99;
	--button-bg: #e4ebf6;
	--button-bg-hover: #d1ddf0;
	--button-bg-active: #becfe9;
	--button-bg-disabled: #e4ebf6;
	--button-primary-color: #fff;
	--button-primary-bg: #448aff;
	--button-primary-bg-hover: #2a7aff;
	--button-primary-bg-active: #116aff;
	--button-primary-bg-disabled: #448aff;
	--control-danger-color: #d66;
	--control-danger-bg: #fdd;
	--control-danger-bg-hover: #ffc3c3;
	--control-danger-bg-active: #faa;
	--control-danger-bg-disabled: #fdd;
}

#nav {
	padding: 30px;

	a {
		font-weight: bold;
		color: #2c3e50;

		&.router-link-exact-active {
			color: #42b983;
		}
	}
}
</style>
