<template>
	<div class="add_search">
		<el-form-item label="地址">
			<el-select v-model="province" placeholder="请选择">
				<el-option
					v-for="(item, index) in provinceList"
					:key="index"
					:label="item"
					:value="index"
				>
				</el-option>
			</el-select>
			<el-select v-model="city" placeholder="请选择">
				<el-option
					v-for="(item, index) in cityList"
					:key="index"
					:label="item"
					:value="index"
				>
				</el-option>
			</el-select>
			<el-select v-model="district" placeholder="请选择">
				<el-option
					v-for="(item, index) in districtList"
					:key="index"
					:label="item"
					:value="index"
				>
				</el-option>
			</el-select>
		</el-form-item>
		<el-form-item label="详细信息">
			<el-input
				type="text"
				placeholder="请输入景点信息~"
				v-model="keyword"
				maxlength="30"
				show-word-limit
			>
			</el-input>
		</el-form-item>
		<div class="btn" @click="searchScenery()">搜索</div>
	</div>
</template>


<style scoped>
.add_search {
	width: 900px;
	margin-top:20px;
	margin-left:10%;
}

.el-select {
	width: 30%;
	margin-right: 15px;
}
.btn {
	width: 90px;
	height: 35px;
	margin-left: 40%;

	display: flex;
	align-items: center;
	justify-content: center;

	border-radius: 7px;
	font-size: 15px;
	cursor: pointer;

	color: var(--button-primary-color);
	background: var(--button-primary-bg);
}
</style>


<script>
import * as AMapAPI from '@/api/sdk'
import { ElMessage } from 'element-plus'
export default {
	name: "AddressSearch",
	data() {
		return {
			province: 0,
			city: 0,
			district: 0,
			provinceList: ['请选择', '北京市', '上海市', '香港', '福建省'],
			cityList: ["请选择"],
			districtList: ["请选择"],

			keyword: '',
		};
	},
	created() {
		// this.getDistricts(1, '中国', 'p')
	},
	watch: {
		province: function () {
			this.getDistricts(this.province, this.provinceList[this.province], "c");
			this.city = 0;
			this.district = 0;
			this.districtList = ["请选择"];
		},
		city: function () {
			this.getDistricts(this.city, this.cityList[this.city], "d");
			this.district = 0;
		},
		district: function () {},
	},
	methods: {
		// -- address select --
		getDistricts(index, keyword, choose) {
			if (index == 0) {
				if (choose == "c") {
					this.cityList = ["请选择"];
				} else if (choose == "d") {
					this.districtList = ["请选择"];
				}
				return;
			}
			AMapAPI.getDistricts(keyword)
				.then((res) => {
					if (res.status === 200) {
						res.data.unshift("请选择");
						if (choose == "p") {
							this.provinceList = res.data;
						} else if (choose == "c") {
							this.cityList = res.data;
						} else {
							this.districtList = res.data;
						}
					} else {
						ElMessage.error("获取地址列表失败：" + res.msg);
					}
				})
				.catch((err) => {
					ElMessage.error("获取地址列表失败：" + err);
				});
		},

		// -- Search --
		checkAugments() {
			if (this.province == 0) {
				ElMessage.error("请至少选择景点所在的省份哦");
				return false;
			}
			return true;
		},
		getProvinceStr() {
			return this.provinceList[this.province];
		},
		getCityStr() {
			return this.cityList[this.city];
		},
		getDistrictStr() {
			return this.districtList[this.district];
		},
		searchScenery() {
			if (!this.checkAugments()) return;
			let path = this.$router.resolve({
				name: "SearchScenery",
				query: {
					province: this.getProvinceStr(),
					city: this.getCityStr(),
					district: this.getDistrictStr(),
					keyword: this.keyword,
					type: 1, // 1: 关键字查询 2: tag查询
				},
			});
			window.open(path.href, "_blank");
		},
	},
};
</script>
