// 动态加载参数：
<template>
	<div class="card-lists">
		<CardList :cardList="cardList1"></CardList>
		<CardList :cardList="cardList2"></CardList>
		<CardList :cardList="cardList3"></CardList>

		<div class="no-card" v-show="cardList1.length==0">
			<div v-if="searchCompleted">
				{{noCardsHint}}
			</div>
			<div v-else>
				搜索中 请稍后~
			</div>
		</div>
	</div>
</template>

<script>
import CardList from '@/components/CardList'

export default {
	name: 'CardLists',
	components: { CardList, },
	props: {
		noCardsHint: {
			type: String,
			default: () => "获取卡片中",
		},
		cardList: {
			type: Array,
			default: function() {
				return [
					{cardID:1, title: '广东周边游|被山野树荫包围的露天温泉🌲', author: '呜呜呜', avatar: 'https://s1.ax1x.com/2022/06/06/X0IPZ8.jpg', cover: 'https://ci.xiaohongshu.com/22723dea-c95a-887a-5c81-01919e5d0c99?imageView2/2/w/1080/format/jpg', likes: 113, liked: true},
					{cardID:1, title: '大吃大喝也不怕！！深夜外卖党囤起来！！', author: '懒懒懒吖123', avatar: 'https://s1.ax1x.com/2022/06/06/X0IPZ8.jpg', cover: 'https://www.helloimg.com/images/2022/06/17/ZSHX7C.png', likes: 3, liked: false},
					{cardID:1, title: '新兴龙山温泉酒店', author: '呜呜呜', avatar: 'https://s1.ax1x.com/2022/06/06/X0IPZ8.jpg', cover: 'https://ci.xiaohongshu.com/1f597067-9f9d-fd92-91d3-422e5335c1ce?imageView2/2/w/1080/format/jpg', likes: 13, liked: false},
					{cardID:1, title: '六祖故里旅游度假区', author: '懒懒懒吖123', avatar: 'https://s1.ax1x.com/2022/06/06/X0IPZ8.jpg', cover: 'https://ci.xiaohongshu.com/ac164973-8d8f-b875-2919-ca2a03a9aa72?imageView2/2/w/1080/format/jpg', likes: 3, liked: false},
					{cardID:2, title: '大吃大喝也不怕！！深夜外卖党囤起来！！123！！！！', author: '懒懒懒吖123', avatar: 'https://s1.ax1x.com/2022/06/06/X0IPZ8.jpg', cover: 'https://www.helloimg.com/images/2022/06/17/ZSHxtt.png', likes: 3, liked: false},
					{cardID:2, title: '我真的！', author: '试一下名字最多可以多长呢这么这么这么长可以么', avatar: 'https://s1.ax1x.com/2022/06/06/X0IPZ8.jpg', cover: 'https://www.helloimg.com/images/2022/06/17/ZSHqBQ.png', likes: 111113, liked: true},
					{cardID:2, title: '大吃大喝也不怕！！深夜外卖党囤起来！！', author: '懒懒懒吖123', avatar: 'https://s1.ax1x.com/2022/06/06/X0IPZ8.jpg', cover: 'https://www.helloimg.com/images/2022/06/17/ZSH3nS.png', likes: 3, liked: false},
					{cardID:2, title: '我真的！', author: '呜呜呜', avatar: 'https://s1.ax1x.com/2022/06/06/X0IPZ8.jpg', cover: 'https://www.helloimg.com/images/2022/06/17/ZSH1FD.jpg', likes: 13, liked: false},
					{cardID:3, title: '宅家工作也快乐，两个多月的快乐零食竟是它！历时两个多月，我们终于解封了！', author: '呜呜呜', avatar: 'https://s1.ax1x.com/2022/06/06/X0IPZ8.jpg', cover: 'https://www.helloimg.com/images/2022/06/17/ZSHEvu.jpg', likes: 13, liked: false},
					{cardID:3, title: '我真的！', author: '呜呜呜', avatar: 'https://s1.ax1x.com/2022/06/06/X0IPZ8.jpg', cover: 'https://ci.xiaohongshu.com/7ed002cb-6e11-a3a7-3fd1-a8558b70ffd4?imageView2/2/w/1080/format/jpg', likes: 113, liked: false},
					{cardID:3, title: '大吃大喝也不怕！！深夜外卖党囤起来！！', author: '懒懒懒吖123', avatar: 'https://s1.ax1x.com/2022/06/06/X0IPZ8.jpg', cover: 'https://ci.xiaohongshu.com/5a044905-4d14-e697-0581-97749e9e44cc?imageView2/2/w/1080/format/jpg', likes: 3, liked: false},
					{cardID:3, title: '大吃大喝也不怕！！深夜外卖党囤起来！！', author: '懒懒懒吖123', avatar: 'https://s1.ax1x.com/2022/06/06/X0IPZ8.jpg', cover: 'https://ci.xiaohongshu.com/073a368a-a6dd-c9e7-eecc-b4769d6965c6?imageView2/2/w/1080/format/jpg', likes: 3, liked: false},
				]
			},
		},
	},
	data() {
		return {
			// cardListL: [], // 本地卡片列表
			searchCompleted: false,
		}
	},
	activated() {
		setTimeout(()=>{
			this.searchCompleted = true
		}, 3000);
	},
	watch: {
		// cardList: {
		// 	handler(newValue, oldValue) {
		// 		this.cardListL = newValue
		// 	},
		// 	deep: true,
		// 	// immediate: true, // 在页面建立完成前就监听？
		// }
	},
	computed: {
		// 不是必须要watch
		cardList1() {
			return this.cardList.filter((value, index) => index%3==0)
		},
		cardList2() {
			return this.cardList.filter((value, index) => index%3==1)
		},
		cardList3() {
			return this.cardList.filter((value, index) => index%3==2)
		},
	},
}
</script>

<style scoped>
.card-lists {
	margin-top: 35px;

	display: flex;
	flex-direction: row;
	justify-content: center;
}

.card-lists .no-card {
	margin: 30px auto;

	font-size: 25px;
	font-weight: 600;
}

</style>
