<template>
	<div class="card-list">
		<template v-for="(card, index) in cardList" :key="index">
			<div class="card" @click="jumpToCard(card.cardID)">
				<div class="image-wrapper">
					<img class="image" :src="card.cover" alt="Failed to load cover">
				</div>

				<div class="title">
					{{card.title}}
				</div>

				<div class="author-and-likes">
					<div class="author-wrapper">
						<div class="avatar-wrapper">
							<img class="avatar" :src="card.avatar" alt="">
						</div>
						<div class="name">
							{{card.username}}
						</div>
					</div>

					<div class="likes-wrapper">
						<div class="svg-wrapper">
							<img class="svg" :src="card.liked?require('../assets/svg/liked.svg'):require('@/assets/svg/like.svg')">
						</div>
						<div class="likes">
							{{card.likes}}
						</div>
					</div>
				</div>
			</div>
		</template>

	</div>
</template>

<script>

export default {
	name: 'CardList',
	props: {
		cardList: {
			type: Array,
			required: true,
			default: function() {
				return []
			}
		}
	},
	methods: {
		jumpToCard(cardID) {
			var url = this.$router.resolve({
				name: 'Card',
				query: {id: cardID},
			})
			window.open(url.href, '_blank')
		},
	},
}
</script>

<style scoped>
.card-list {
	--card-width: 350px;

	display: flex;
	flex-direction: column;

	margin: 0.8rem 0.9rem 0;

}

.card {
	margin: 0 0 1.2rem;
	width: var(--card-width);

	background-color: #fff;
	box-shadow: 0 1px 2px 0 rgba(0,0,0,.1);
	border-radius: 9px;
	overflow: hidden;

	cursor: pointer;
	transition: 0.3s;
}

.card:hover {
	/* filter: brightness(0.75); */
	filter: drop-shadow(2px 4px 6px black);
}

.card .image {
	width: var(--card-width);
	min-height: 200px;
	max-height: 500px;
}

.card .title {
	padding: 0;
	margin: 10px 15px;

	display: block;
	text-align: left;

	font-size: 16px;
	font-weight: 600;
	line-height: 24px;
}

.card .author-and-likes {
	width: 100%;
	padding: 0 15px 10px;
	box-sizing: border-box;

	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.card .author-wrapper {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.card .author-wrapper .avatar-wrapper {
	width: 30px;
	height: 30px;

	border-radius: 50%;
	overflow: hidden;
}

.card .author-wrapper .avatar {
	width: 100%;
	height: 100%;
}

.card .author-wrapper .name {
	margin-left: 8px;

	width: 200px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;

	color: #555;
	font-size: 15px;
	text-align: left;
}

.card .likes-wrapper {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.card .likes-wrapper .svg-wrapper {
	width: 25px;
	height: 25px;
}

.card .likes-wrapper .svg {
	width: 100%;
	height: 100%;
}

.card .likes-wrapper .likes {
	margin-left: 3px;

	font-size: 15px;
}

</style>
