// 需要导入页面有 CSS参数：--max-image-width, --max-image-height
<template>
	<!-- Carousel -->
	<div class="carousel">
		<div class="carousel-main">
			<transition-group tag="ul" class="images" :name="transitionName">
				<!-- :key="index"? -->
				<template v-for="(image, index) in images" :key="image">
					<li v-show="index==current">
						<div class="image" :style="{backgroundImage:'url('+image+')'}"></div>
					</li>
				</template>
			</transition-group>

			<div class="btns">
				<span class="btn left-btn" @click="leftSlide()"></span>
				<span class="btn right-btn" @click="rightSlide()"></span>
			</div>

			<div class="pages">

			</div>
		</div>

		<div class="small-imgs">
			<div class="small-img-wrapper" v-for="(image, index) in images" :key="index"
				@click="changePic(index)"
			>
				<img class="small-img" :class="{'active': index==current}" :src="image">
			</div>
		</div>
	</div>
	<!-- Carousel END -->
</template>

<script>
export default {
	name: 'Carousel',
	props: {
		images: {
			type: Array,
			// required: true,
			default: function() {
				return [
					// 无图片
				]
			},
		},
	},
	data() {
		return {
			current: 0,
			transitionName: '',
		}
	},
	methods: {
		// Animation
		leftSlide() {
			this.transitionName = 'leftSlide'
			this.current --
			if (this.current < 0)
				this.current = this.images.length-1
		},
		rightSlide() {
			this.transitionName = 'rightSlide'
			this.current ++
			if (this.current >= this.images.length)
				this.current = 0
		},
		changePic(index) {
			this.current = index
		},
	},
}
</script>

<style scoped>
/* Carousel */
.carousel {
	width: var(--max-image-width);
	margin: 10px 50px auto;
}
/* 实现切换按钮与图片重叠：flex竖直排列，加justify-content: center；images用flex、居中，图片用absolute；btns用relative，按钮用absolute和left/right:10px，即可。 */
/* 事实上应该：图片div用background absolute，这样不同图片间也不会互相影响（对动画影响严重） */
/* 所以：实现切换按钮与图片重叠：图片外层即li用relative，图片用absolute和background；btns用relative，按钮用absolute和left/right:10px，即可。 */
.carousel .carousel-main {
	width: var(--max-image-width);
	height: var(--max-image-height);

	/* 注意position 要 relative 或 absolute（不是static），overflow: hidden 才生效 */
	position: relative;
	overflow: hidden;
}
.carousel li {
	position: absolute;
	width: var(--max-image-width);
	height: var(--max-image-height);
}
.carousel .image {
	width: 100%;
	height: 100%;

	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
}
.carousel .btns {
	width: var(--max-image-width);
	height: var(--max-image-height);
	position: relative;
}
.carousel .btn {
	width: 35px;
	height: 35px;

	position: absolute;
	top: 50%;
	cursor: pointer;

	opacity: 0.6;
	transition: 0.3s;
}
.carousel .btn:hover {
	opacity: 1;
}
.carousel .left-btn {
	left: 10px;
	background: url('https://www.helloimg.com/images/2022/06/28/ZlyJut.png');
	background-size: contain;
	/* 注意 contain 要在 background 下面 */
}
.carousel .right-btn {
	right: 10px;
	background: url('https://www.helloimg.com/images/2022/06/28/ZlyENQ.png');
	background-size: contain;
}

.carousel .small-imgs {
	width: var(--max-image-width);
	margin: 10px 0 0;

	text-align: center;
}
.carousel .small-img-wrapper {
	width: 50px;
	height: 50px;
	margin: 0 5px 0;

	display: inline-block;

	border-radius: 4px;
	cursor: pointer;
}
.carousel .small-img {
	max-width: 50px;
	max-height: 50px;
	margin: auto;

    display: block;

    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;

	opacity: .6;
    transition: opacity .5s ease;
}
.carousel .small-img-wrapper .active {
	opacity: 1;
	box-shadow: 0 3px 8px 0 rgba(255,82,103,.5);
	border: 1px solid #ff2741;
}
/* Carousel END */

/* Animation */
.leftSlide-enter-active {
	transition: 0.8s ease;
	transform: translateX(0);
}
.leftSlide-leave-active {
	transition: 0.8s ease;
	transform: translateX(120%);
	/* >100% 而不是 100% 可以让两张图片分隔开 */
}
.leftSlide-enter-from {
	transform: translateX(-120%);
}
.leftSlide-leave-from {
	transform: translateX(0);
}

.rightSlide-enter-active {
	transition: 0.8s ease;
	transform: translateX(0);
}
.rightSlide-leave-active {
	transition: 0.8s ease;
	transform: translateX(-120%);
}
.rightSlide-enter-from {
	transform: translateX(120%);
}
.rightSlide-leave-from {
	transform: translateX(0);
}
/* Animation END */

</style>
