<template>
	<el-row type="flex" class="bg-purple-light">
		<el-col :span="18" class="id_and_like bg-purple">
			<el-row>writer</el-row>
			<el-row></el-row>
			<el-row>comment</el-row>
		</el-col>
		<el-col :span="1"></el-col>
		<el-col :span="3" class="comment_and_time bg-purple">
			<el-row>likes</el-row>
			<el-row></el-row>
			<el-row>time</el-row>
		</el-col>
	</el-row>
</template>

<script>
/* eslint-disable */

export default {
	//import引入的组件需要注入到对象中才能使用
	name: 'Comment',
	components: {},
	data() {
		//这里存放数据
		return {};
	},
	//监听属性 类似于data概念
	computed: {},
	//监控data中的数据变化
	watch: {},
	//方法集合
	methods: {
		handleOpen(key, keyPath) {
			console.log(key, keyPath);
		},
		handleClose(key, keyPath) {
			console.log(key, keyPath);
		},
		handleSelect(key, keyPath) {
			console.log(key);
			console.log(keyPath);
		},
	},
};
</script>

<style>
.el-row {
	margin-bottom: 20px;
}
.el-col {
	border-radius: 4px;
}
.bg-purple-dark {
	background: #dbeaff;

}
.bg-purple-light {
	padding: 14px 0;
	background: #e5e9f2;
}
.id_and_like{
	font-size:20px;
}
.bg-purple {
	background: #ffffff;
}
</style>
