// TODO 动态加载多个评论。但这是页面非组价的功能。
<template>
	<div class="comment-list">
		<h3 class="top">
			评论区
		</h3>

		<div>
			<template v-for="(comment, index) in comments" :key="comment.commentID">
				<div class="comment">
					<div class="avatar-wrapper" @click="jumpToUser(comment.userID)">
						<img class="avatar" :src="comment.avatar" alt="">
					</div>

					<div class="right-box">
						<div class="author-wrapper">
							<div class="name" @click="jumpToUser(comment.userID)">
								{{comment.username}}
							</div>
							<div class="time">
								{{$filters.dateFormat(comment.commentTime)}}
							</div>
						</div>

						<div class="content" :id="'commentText'+index">
							<!-- {{comment.commentText}} -->
						</div>

						<ul class="reaction">
							<li class="item item-like" @click="likeComment(index)">
								赞
							</li>
							<li class="item item-reply" @click="replyComment(index)">
								回复
							</li>
						</ul>
					</div>
				</div>
			</template>

			<div v-if="comments.length===0">
				<h3 class="no-comment">啊哦，还没有评论哦~</h3>
			</div>
		</div>

		<h3 class="top">
			{{user?'留下你的评论叭~':'登录来留下你的评论叭~'}}
		</h3>

		<div v-if="user" class="comment-box">
			<div class="comment">
				<el-input
					v-model="replyContent"
					:autosize="{ minRows: 10, maxRows: 30 }"
					type="textarea"
					placeholder="Say something~"
					maxlength="500"
					show-word-limit
				/>
			</div>

			<div class="btn" @click="postComment()">
				发表评论
			</div>
		</div>
	</div>
</template>

<script>
import { ElMessage } from 'element-plus'
import { paraSeparate } from '@/utils/common.js'
import * as api_comment from '@/api/comment'

export default {
	name: 'CommentList',
	props: {
		user: { required: true, },
		cardID: {required: true, },
		// commentsCopy: {
		// 	type: Array,
		// 	// required: true,
		// 	default: function() {
		// 		return [
		// 			{userID:1, commentID:1, avatar:'https://s1.ax1x.com/2022/06/06/X0IPZ8.jpg', username:'柚子', commentText:'味道怎么样的？好想尝尝', commentTime:'21-06-07 16:55',},
		// 			{userID:2, commentID:2, avatar:'https://s1.ax1x.com/2022/06/06/X0IPZ8.jpg', username:'柚子22', commentText:'好好看 桃香回味无穷！！！', commentTime:'06-08 17:30',},
		// 			{userID:3, commentID:3, avatar:'https://s1.ax1x.com/2022/06/06/X0IPZ8.jpg', username:'33柚子', commentText:'好棒 看起来就清凉！\n家里囤起来！\n喝过，超喜欢他们家的东西！\n字数测试字数测试字数测试字数测试字数测试字数测试字数测试字数测试字数测试字数测试字数测试字数测试字数测试字数测试字数测试字数测试字数测试字数测试字数测试字数测试字数测试字数测试字数测试字数测试字数测试字数测试字数测试字数测试字数测试字数测试字数测试字数测试字数测试字数测试字数测试字数测试', commentTime:'昨天 1:20',},
		// 			{userID:4, commentID:4, avatar:'https://s1.ax1x.com/2022/06/06/X0IPZ8.jpg', username:'another柚子', commentText:'绝绝子！', commentTime:'今天 0:20',},
		// 		]
		// 	},
		// },
	},
	data() {
		return {
			replyTo: '',
			replyContent: '',

			comments: [],
			lastUpdate: 0,
		}
	},
	mounted() {

	},
	watch: {
		cardID() { // 会在页面加载后才更新
			this.getComments()
		}
	},
	methods: {
		getComments() {
			if (this.cardID <= 0) return
			api_comment
				.getComments(this.cardID)
				.then(res => {
					if (res.status === 200) {
						console.log(res.data)
						this.comments = res.data
						setTimeout(()=>{
							this.updateComments()
						}, 150);
					} else if (res.status === 20001) {
						this.loginExpired(res.msg)
					} else {
						ElMessage.error('获取评论列表失败：'+res.msg)
					}
				})
				.catch(err => {
					ElMessage.error('获取评论列表失败：'+err)
				})
		},
		// 注意更新完comments后，不能立刻调用该函数，因为v-for不能立刻渲染
		updateComments() {
			while (this.lastUpdate < this.comments.length) {
				this.comments[this.lastUpdate].commentText = paraSeparate(this.comments[this.lastUpdate].commentText)
				document.getElementById("commentText"+this.lastUpdate).innerHTML = this.comments[this.lastUpdate].commentText
				this.lastUpdate ++
			}
		},
		jumpToUser(userID) {
			var url = this.$router.resolve({
				name: 'User',
				query: {id: userID},
			})
			window.open(url.href, '_blank')
		},
		likeComment(index) {
			ElMessage('该功能还没有实现哦')
			this.replyTo = this.comments[index].username
		},
		replyComment(index) {
			if (!this.user) {
				ElMessage('登录来留下你的评论叭~')
				return
			}
			this.replyTo = this.comments[index].username
			this.replyContent = `@${this.replyTo}  `

			window.scroll({ top: document.body.clientHeight , left: 0, behavior: 'smooth' });
		},
		postComment() {
			if (this.replyContent === '') {
				ElMessage.error('请输入评论内容哦')
				return
			}
			if (!this.user || !this.user.id) {
				ElMessage.error('请先登录哦')
				return
			}
			var newComment = {
				commentID: this.comments.length+1,
				userID: this.user.id,

				commentText: this.replyContent,
				commentTime: new Date(),

				avatar: this.user.avatar,
				username: this.user.username,
			}

			api_comment
				.postComment(this.cardID, newComment.userID, newComment.commentText)
				.then(res => {
					if (res.status === 200) {
						ElMessage.success('评论成功！')
						this.comments.push(newComment)
						setTimeout(()=>{
							this.updateComments()
						}, 150);
					} else if (res.status === 20001) {
						this.loginExpired(res.msg)
					} else {
						ElMessage.error('获取评论列表失败：'+res.msg)
					}
				})
				.catch(err => {
					ElMessage.error('获取评论列表失败：'+err)
				})
		},
	},
}
</script>

<style scoped>
.comment-list {
	--avatar-width: 50px;

	width: var(--main-width);
	margin: 0rem 0.9rem 0;

	display: flex;
	flex-direction: column;

	text-align: left;
}

.comment-list .top {
	margin: 20px 0 20px;
	padding-left: 75px;
}

.comment-list .no-comment {
    margin: 30px auto;
	text-align: center;
}

.comment {
	width: 80%;
	margin: 0 auto 1rem;
	padding: 15px 25px 15px 15px;

	display: flex;
	flex-direction: row;

	background-color: #fff;
	box-shadow: 0px 2px 5px 2px rgba(0,0,0,.1);
	border-radius: 9px;
	overflow: hidden;

	transition: 0.3s;
}

.comment:hover {
	/* filter: brightness(0.75); */
	filter: drop-shadow(2px 2px 5px black);
}

/* Left Box */
.comment .avatar-wrapper {
	cursor: pointer;
}

.comment .avatar-wrapper .avatar {
	width: var(--avatar-width);
	height: var(--avatar-width);

	border-radius: 50%;
	overflow: hidden;

	/* border: 2px solid #fff;
	border-color: rgb(128, 52, 158); */
}
/* Left Box END */

/* Right Box */
.comment .right-box {
	width: calc(100% - var(--avatar-width));
	margin-left: 15px;
}

.comment .author-wrapper {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.comment .author-wrapper .name {
	font-weight: bold;
	margin-right: 0.7rem;

	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;

	font-size: 15px;
	cursor: pointer;
}

.comment .author-wrapper .time {
	font-size: 14px;
	color: var(--muted-color);
}

.comment .content {
	margin-top: 7px;

	font-size: 16px;
	line-height: 1.5;
}

.comment .content :deep() p {
	margin-block-start: 0.5em;
	margin-block-end: 0.5em;
}

.comment .reaction {
	margin: 5px 25px 5px 0;

	font-size: 15px;
	color: var(--button-color);
	text-align: right;
	list-style: none;
}
.comment .reaction .item {
	margin-left: 15px;

	display: inline-block;

	cursor: pointer;
}
/* .comment .reaction .item-like {

}
.comment .reaction .item-reply {

} */
/* Right Box END */

/* Reply */
.comments .comment-box {

}
.comments .comment-box :deep() .el-textarea__inner {
	box-shadow: none;
	font-size: 17px;
}
.comments .comment-box .btn {
	width: 100px;
    height: 40px;
	margin-right: 10%;
	float: right;

    display: flex;
    align-items: center;
    justify-content: center;

	border-radius: 5px;
	color: var(--button-primary-color);
	background: var(--button-primary-bg);

	cursor: pointer;
}
.comments .comment-box .btn:hover {
	background: var(--button-primary-bg-hover);
}
.comments .comment-box .btn:active {
	background: var(--button-primary-bg-active);
}
/* Reply END */

</style>
