<template>
	<nav class="nav-menu"
		:style="{opacity: navMenuOpacity}"
		v-show="navMenuOpacity > -0.5"
	>
		<!-- Nav Left -->
		<div class="nav-left">
			<a href="#">
				<img class="logo" src="@/assets/logo.jpg">
			</a>
			<span class="title">
				Poetic Journey
			</span>
		</div>

		<!-- Nav Right -->
		<ul class="nav-right">
			<li>
				<router-link :to="{name:'Home'}">
					广场
				</router-link>
			</li>
			<li v-if="user">
				<router-link :to="{name:'User', query:{id: user.id}}">
					{{ user.username }}
				</router-link>
			</li>
			<li v-if="user">
				<div @click="logout()" style="cursor: pointer;">
					退出登录
				</div>
			</li>
			<li v-if="user">
				<router-link :to="{name:'Post'}" class="btn">
					发布
				</router-link>
			</li>
			<li v-else>
				<router-link :to="{name:'Login'}" class="btn">
					登录
				</router-link>
			</li>
		</ul>
	</nav>
</template>

<script>
import { mapActions } from 'vuex'
import { ElMessage } from 'element-plus'

export default {
	name: 'NavMenu',
	props: {
		user: { required: true, },
	},
	data() {
		return {
			navMenuOpacity: 1,
		}
	},
	methods: {
		...mapActions(['setUser']),
		handleScroll() {
			let scroll = window.scrollY
				|| document.documentElement.scrollTop
				|| document.body.scrollTop
			this.navMenuOpacity = 1 - scroll / 350
		},
		// 退出登录
		logout() {
			// 清空本地登录信息
			localStorage.removeItem('user')
			localStorage.removeItem('token')
			// 清空vuex登录信息
			this.setUser('')
			this.$router.push({
				name: 'Login'
			})
			ElMessage({
				message: '退出成功',
				type: 'success',
			})
		}
	},
	mounted() {
		window.addEventListener("scroll", this.handleScroll, true)
	},
	beforeDestroy() {
		window.removeEventListener("scroll", this.handleScroll, true)
	},
}
</script>

<style scoped>
.nav-menu {
	--text-color: white;

	width: 100%;
	display: flex;
	padding: 0 1rem;

	top: 0;
	left: 0;
	right: 0;
	min-height: 65px;

	position: fixed;

	color: var(--text-color);
	background-color: rgba(0, 0, 0, 0.9);
	/* background-color: rgba(35, 42, 52, 1); */

	z-index: 10;
	transition: 1s;
}

.nav-menu :deep() a {
	color: var(--text-color);
	text-decoration: none;
}

.nav-menu .nav-left {
	/* width: 100%; */
	display: flex;
	align-items: center;
}

.nav-menu .logo {
	width: 40px;
	border-radius: 8px;
}

.nav-menu .title {
	font-size: 17px;
	line-height: 1;
	font-weight: 700;

	margin-top: 0;
	margin-bottom: 0;
	margin-left: 0.8rem;
}

.nav-menu .nav-right {
	display: flex;
	align-items: center;

	list-style: none;

	margin: 0;
	padding: 0;
	margin-left: auto;
	/* margin-right: -3rem; */
}

.nav-menu .nav-right li {
	margin-right: 2rem;

	font-size: 16px;
	font-weight: 500;
	line-height: 1;
	padding: 0;
}

.nav-menu .nav-right .btn {
	padding: .8rem 1.8rem;

	border-radius: 6px;
	font-weight: 600;
	background: #05a081;
}

</style>
