<template>
	<div class="scenery-list">
		<h3 class="top">
			搜索结果
		</h3>

		<div>
			<template v-for="(scenery, index) in sceneries" :key="index">
				<div class="scenery" @click="jumpToScenery(scenery.sceneryID)">
					<div class="cover-wrapper">
						<img class="cover" :src="scenery.cover" alt="">
					</div>

					<div class="center-box">
						<div class="name-wrapper">
							<span class="name" @click="jumpToScenery(scenery.sceneryID)">
								{{scenery.sceneryName}}
							</span>
							<span class="level">
								{{scenery.level}}
							</span>
						</div>

						<div class="content">
							<div class="score-wrapper">
								<span v-if="scenery.score>0">
									评分：
									<span class="score">{{scenery.score.toFixed(1)}}</span>/5分
								</span>
								<span v-else>
									暂无评分
								</span>
							</div>

							<div class="address">
								{{scenery.province+' '+scenery.city+' '+scenery.district}}
							</div>
							<div class="street">
								{{scenery.street}}
							</div>
						</div>
					</div>

					<div class="right-box">
						<div class="price">
							<span v-if="scenery.price>0">
								<span style="font-size:12px; color:red;">￥</span>
								<span style="font-size:20px; color:red;">{{scenery.price}}</span>
								<span style="font-size:12px;">&nbsp;起</span>
							</span>
							<span v-else>
								<span style="font-size:18px;">暂无定价</span>
							</span>
						</div>
					</div>
				</div>
			</template>

			<!-- 注意限制一下searchCompleted，等待一段时间（查询完成）才显示无，而不是打开页面时就显示 -->
			<div v-if="sceneries.length===0">
				<div v-if="searchCompleted">
					<h2 class="no-scenery">啊哦，查不到相关的景点哦~</h2>
				</div>
				<div v-else>
					<h2 class="no-scenery">搜索中 请稍后~</h2>
				</div>
			</div>
		</div>

	</div>
</template>

<script>
import { ElMessage } from 'element-plus'

export default {
	name: 'SceneryList',
	props: {
		sceneries: {
			type: Array,
			// required: true,
			default: function() {
				return []
			},
		},
	},
	data() {
		return {
			searchCompleted: false, // 应该做成prop
		}
	},
	activated() {
		setTimeout(()=>{
			this.searchCompleted = true
		}, 3000);
	},
	methods: {
		jumpToScenery(sceneryID) {
			var url = this.$router.resolve({
				name: 'Scenery',
				query: {id: sceneryID},
			})
			window.open(url.href, '_blank')
		},
	},
}
</script>

<style scoped>
.scenery-list {
	--cover-width: 270px;
	--cover-height: 200px;
	--center-box-width: 550px;

	width: var(--main-width);
	margin: 0rem 0.9rem 0;

	display: flex;
	flex-direction: column;

	text-align: left;
}

.scenery-list .top {
	margin: 20px 0 20px;
	padding-left: 75px;
}

.scenery {
	width: 80%;
	margin: 0 auto 1rem;
	padding: 15px 25px 15px 15px;

	display: flex;
	flex-direction: row;

	background-color: #fff;
	box-shadow: 0px 2px 5px 2px rgba(0,0,0,.1);
	border-radius: 9px;
	overflow: hidden;

	transition: 0.3s;
	cursor: pointer;
}

.scenery:hover {
	/* filter: brightness(0.75); */
	filter: drop-shadow(2px 2px 5px black);
}

/* Left Box */
.scenery .cover-wrapper {
	cursor: pointer;
}

.scenery .cover-wrapper .cover {
	width: var(--cover-width);
	height: var(--cover-height);

	/* border: 2px solid #fff;
	border-color: rgb(128, 52, 158); */
}
/* Left Box END */

/* Center Box */
.scenery .center-box {
	width: var(--center-box-width);
	margin-left: 15px;
}

.scenery .name-wrapper .name {
	font-weight: bold;
	margin-right: 7px;

    font: normal 28px/56px "微软雅黑",Arial,sans-serif;
    color: #333;

	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

.scenery .name-wrapper .level {
	font-size: 22px;
	color: #f60;
}

.scenery .content {
	font-size: 17px;
	line-height: 1.7;
}

.scenery .score-wrapper {
	font-size: 16px;
	color: #666;
}

.scenery .score-wrapper .score {
	font-size: 22px;
	color: #f60;
}
/* Center Box END */

/* Right Box */
.scenery .right-box {
	width: calc(100% - var(--cover-width) - var(--center-box-width));

	display: flex;
    flex-direction: column;
	align-items: center;
    justify-content: center;
}

.scenery .right-box .price {

}

/* Right Box END */

.scenery-list .no-scenery {
	text-align: center;
}

</style>
