<template>
<div class="position">
	<el-tabs v-model="activeName" class="demo-tabs">
		<el-tab-pane label="景点地址搜索" name="address">
				<AddressSearch></AddressSearch>
		</el-tab-pane>
		<el-tab-pane label="景点标签搜索" name="tag">
			<TagSearch></TagSearch>
		</el-tab-pane>
	</el-tabs>
</div>
</template>

<style>
.position{
	padding-left: 12%;
	padding-right: 12%;
	padding-top: 20px;
}

.demo-tabs > .el-tabs__content {
	color: #6b778c;
	font-weight: 600;
}
</style>


<script>
import AddressSearch from '@/components/AddressSearch'
import TagSearch from '@/components/TagSearch'
export default {
	name: 'SearchOption',
	components: { AddressSearch, TagSearch, },
	data() {
		return {
			activeName: '', // 激活的标签页

			province: 0,
			city: 0,
			district: 0,
			provinceList: ['请选择', '上海市', '香港', '福建省'],
			cityList: ['请选择'],
			districtList: ['请选择'],
		}
	},
};
</script>
