<template>
	<header class="header">
		<div class="background">
			<img class="background-image" src="../assets/background.jpg" alt="" />
		</div>

		<!-- Title -->
		<div class="title">Poetic Journey</div>
		<!-- Title END -->

		<!-- Search Bar -->
		<div class="search-bar">
			<!-- select -->
			<el-form status-icon>
				<!-- select address -->
				<el-form-item label="地址">
					<el-select v-model="province" placeholder="请选择">
						<el-option
							v-for="(item, index) in provinceList"
							:key="index"
							:label="item"
							:value="index"
						>
						</el-option>
					</el-select>
					<el-select v-model="city" placeholder="请选择">
						<el-option
							v-for="(item, index) in cityList"
							:key="index"
							:label="item"
							:value="index"
						>
						</el-option>
					</el-select>
					<el-select v-model="district" placeholder="请选择">
						<el-option
							v-for="(item, index) in districtList"
							:key="index"
							:label="item"
							:value="index"
						>
						</el-option>
					</el-select>
				</el-form-item>
				<!-- select address END -->

				<el-form-item label="详细信息">
					<el-input
						type="text"
						placeholder="请输入景点信息或景点标签~"
						v-model="keyword"
						maxlength="30"
						show-word-limit
					>
					</el-input>
				</el-form-item>
			</el-form>

			<div class="btns">
				<div class="btn" @click="searchScenery()">景点搜索</div>
				<div class="btn" @click="searchTag()">类型搜索</div>
			</div>
			<!-- select END -->
		</div>
		<!-- Search Bar END -->
	</header>
</template>

<script>
import * as AMapAPI from "@/api/sdk";

import { ElMessage } from "element-plus";

export default {
	name: 'SearchBar',
	components: {},
	data() {
		return {
			// -- address select --
			province: 0,
			city: 0,
			district: 0,
			provinceList: ['请选择', '北京市', '上海市', '香港', '福建省'],
			cityList: ['请选择'],
			districtList: ['请选择'],

			keyword: '',
		}
	},
	created() {
		// this.getDistricts(1, '中国', 'p')
	},
	watch: {
		province: function() {
			this.getDistricts(this.province, this.provinceList[this.province], 'c')
			this.city = 0
			this.district = 0
			this.districtList = ['请选择']
		},
		city: function() {
			this.getDistricts(this.city, this.cityList[this.city], 'd')
			this.district = 0
		},
		// district: function() {

		// },
	},
	methods: {
		// -- address select --
		getDistricts(index, keyword, choose) {
			if (index == 0) {
				if (choose == 'c') {
					this.cityList = ['请选择']
				}
				else if (choose == 'd') {
					this.districtList = ['请选择']
				}
				return
			}
			AMapAPI
				.getDistricts(keyword)
				.then(res => {
					if (res.status === 200) {
						res.data.unshift('请选择')
						if (choose == 'p') {
							this.provinceList = res.data
						} else if (choose == 'c') {
							this.cityList = res.data
						} else {
							this.districtList = res.data
						}
					} else {
						ElMessage.error('获取地址列表失败：'+res.msg)
					}
				})
				.catch(err => {
					ElMessage.error('获取地址列表失败：'+err)
				})
		},

		// -- Search --
		checkAugments() {
			if (this.province == 0) {
				ElMessage.error('请至少选择景点所在的省份哦')
				return false
			}
			return true
		},
		getProvinceStr() {
			return this.provinceList[this.province]
		},
		getCityStr() {
			return this.cityList[this.city]
		},
		getDistrictStr() {
			return this.districtList[this.district]
		},
		searchScenery() {
			if (!this.checkAugments())
				return
			let path = this.$router.resolve({
				name: 'SearchScenery',
				query: {
					province: this.getProvinceStr(),
					city: this.getCityStr(),
					district: this.getDistrictStr(),
					keyword: this.keyword,
					searchType: 0,
				},
			})
			window.open(path.href, '_blank')
		},
		searchTag() {
			if (!this.checkAugments())
				return
			let path = this.$router.resolve({
				name: 'SearchScenery',// 'SearchTag',
				query: {
					province: this.getProvinceStr(),
					city: this.getCityStr(),
					district: this.getDistrictStr(),
					keyword: this.keyword,
					searchType: 1,
				},
			})
			window.open(path.href, '_blank')
		},
	},
};
</script>

<style scoped>
.header {
	position: relative;
	min-height: 400px;
	max-height: 500px;

	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;

	z-index: 5;
}

.header .background {
	width: 100%;
	height: 100%;
	object-fit: cover;
	background: #232a34;

	position: absolute;
	overflow: hidden;

	z-index: 4;
}

.header .background .background-image {
	width: 100%;
}

.header .title {
	width: 100%;
	margin: 40px auto;

	font-size: 60px;
	text-align: center;
	font-family: "Times New Roman", Times, serif;
	font-weight: 700;

	/* z-index 默认不会被继承 */
	z-index: inherit;
}

.header .search-bar {
	width: 60%;
	border-radius: 4px;
	min-height: 10px;

	z-index: inherit;
}

.header .search-bar :deep() .el-form-item__label {
	width: 100px;

	color: black;
	font-weight: 600;
	font-size: 17px;
}
.header .search-bar :deep() .el-input__wrapper {
	width: 80px;
}
.header .search-bar :deep() .el-select {
	width: 30%;
	margin-right: 15px;
}

/* .header .search-bar .new-scenery-tip {
	margin-top: -10px;
	margin-left: 50px;
	width: fit-content;

	text-align: left;
	font-size: 14px;
	color: var(--link-color);
	cursor: pointer;
} */

.header .search-bar .btns {
	margin-right: 15px;

	display: flex;

	float: right;
}
.header .search-bar .btn {
	width: 90px;
	height: 35px;
	margin-right: 10px;

	display: flex;
	align-items: center;
	justify-content: center;

	border-radius: 7px;
	font-size: 15px;
	cursor: pointer;

	color: var(--button-primary-color);
	background: var(--button-primary-bg);
}
.header .search-bar .btn:hover {
	background: var(--button-primary-bg-hover);
}
.header .search-bar .btn:active {
	background: var(--button-primary-bg-active);
}
</style>
