<template>
	<div class="add_search">
		<el-form-item label="地址">
			<el-select v-model="province" placeholder="请选择">
				<el-option
					v-for="(item, index) in provinceList"
					:key="index"
					:label="item"
					:value="index"
				>
				</el-option>
			</el-select>
			<el-select v-model="city" placeholder="请选择">
				<el-option
					v-for="(item, index) in cityList"
					:key="index"
					:label="item"
					:value="index"
				>
				</el-option>
			</el-select>
			<el-select v-model="district" placeholder="请选择">
				<el-option
					v-for="(item, index) in districtList"
					:key="index"
					:label="item"
					:value="index"
				>
				</el-option>
			</el-select>
		</el-form-item>

		<div class="el-form-item__label" style="text-align:left; display: block;">
			选择一个你想搜索的标签
		</div>

		<div class="tag flex" v-for="(item, index) in tags" :key="index" :value="index" @click="clickTag(item)">
			<div class="a"><h3>{{item}}</h3></div>
		</div>
	</div>
</template>

<style scoped>
.add_search {
	width: 900px;
	margin-top: 20px;
	margin-left: 10%;
}
.el-select {
	width: 30%;
	margin-right: 15px;
}
.tag{
		margin-top:10px;
		margin-bottom:10px;
		display: inline-block;
}

.a {
	position: relative;
	display: inline-block;
	padding: 1em 2em 0em 2em;
	text-decoration: none;
	text-align: center;
	cursor: pointer;
	user-select: none;
	color: rgb(0, 0, 0);
	font-size: 15px;
	margin-left:11px;
}

.a:hover::before {
		box-shadow: 0 5px 15px rgba(0, 0, 0, .3);
	}

.a:after {
		position: relative;
		display: inline-block;
		content: attr(data-title);
		transition: transform .2s ease;
		font-weight: bold;
		letter-spacing: .01em;
		will-change: transform;
		transform:
			translateY(var(--ty, 0))
			rotateX(var(--rx, 0))
			rotateY(var(--ry, 0));
	}

.a:before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		background: linear-gradient(60deg, #e8c3cc, #b7b6e1ae);
		border-radius: 4px;
		transition: box-shadow .5s ease, transform .2s ease;
		will-change: transform;
		box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
		transform:
			translateY(var(--ty, 0))
			rotateX(var(--rx, 0))
			rotateY(var(--ry, 0))
			translateZ(var(--tz, -12px));
	}


.btn {
	width: 90px;
	height: 35px;
	margin-left: 40%;

	display: flex;
	align-items: center;
	justify-content: center;

	border-radius: 7px;
	font-size: 15px;
	cursor: pointer;

	color: var(--button-primary-color);
	background: var(--button-primary-bg);
}
</style>

<script>
import * as AMapAPI from "@/api/sdk";
import { ElMessage } from "element-plus";
export default {
	name: "TagSearch",
	data() {
		return {
			province: 0,
			city: 0,
			district: 0,
			keyword: '',
			provinceList: ['请选择', '北京市', '上海市', '香港', '福建省'],
			cityList: ["请选择"],
			districtList: ["请选择"],
			tags: ["岛屿", "山水", "森林", "海滨", "江河", "寺庙", "教堂", "古镇", "花园", "轮渡", "公园", "广场", "遗址", "纪念地"," 桥", "街道", "大学", "建筑", "场馆展厅", "主题游乐园", "村落", "休闲娱乐"],
		};
	},
	created() {
	},
	watch: {
		province: function () {
			this.getDistricts(this.province, this.provinceList[this.province], "c");
			this.city = 0;
			this.district = 0;
			this.districtList = ["请选择"];
		},
		city: function () {
			this.getDistricts(this.city, this.cityList[this.city], "d");
			this.district = 0;
		},
		district: function () {},
	},
	methods: {
		// -- address select --
		getDistricts(index, keyword, choose) {
			if (index == 0) {
				if (choose == "c") {
					this.cityList = ["请选择"];
				} else if (choose == "d") {
					this.districtList = ["请选择"];
				}
				return;
			}
			AMapAPI.getDistricts(keyword)
				.then((res) => {
					if (res.status === 200) {
						res.data.unshift("请选择");
						if (choose == "p") {
							this.provinceList = res.data;
						} else if (choose == "c") {
							this.cityList = res.data;
						} else {
							this.districtList = res.data;
						}
					} else {
						ElMessage.error("获取地址列表失败：" + res.msg);
					}
				})
				.catch((err) => {
					ElMessage.error("获取地址列表失败：" + err);
				});
		},

		// -- Search --
		checkAugments() {
			if (this.province == 0) {
				ElMessage.error("请至少选择景点所在的省份哦");
				return false;
			}
			return true;
		},
		getProvinceStr() {
			return this.provinceList[this.province];
		},
		getCityStr() {
			return this.cityList[this.city];
		},
		getDistrictStr() {
			return this.districtList[this.district];
		},
		searchScenery() {
			if (!this.checkAugments()) return;
			let path = this.$router.resolve({
				name: "SearchScenery",
				query: {
					province: this.getProvinceStr(),
					city: this.getCityStr(),
					district: this.getDistrictStr(),
					keyword: this.tag,
					type: 2, // 1: 关键字查询 2: tag查询
				},
			});
			window.open(path.href, "_blank");
		},

		// -
		clickTag(tag) {
			//console.log(tag)
			if (!this.checkAugments()) return;
			let path = this.$router.resolve({
				name: "SearchScenery",
				query: {
					province: this.getProvinceStr(),
					city: this.getCityStr(),
					district: this.getDistrictStr(),
					keyword: tag,
				},
			});
			window.open(path.href, "_blank");
		},
	},
};
</script>
