<template>
	<header class="header">
		<div class="background">
			<img class="background-image" src="../assets/background.jpg" alt="">
		</div>

		<!-- Title -->
		<div class="title">
			Poetic Journey
		</div>
		<!-- Title END -->

	</header>
</template>

<script>
export default {
	name: 'Title',
	data() {
		return {
		}
	},
	// created() {}, //生命周期 - 创建完成（可以访问当前this实例）
	// mounted() {}, //生命周期 - 挂载完成（可以访问DOM元素）
	// created() {}, //生命周期 - 创建完成（可以访问当前this实例）
	// mounted() {}, //生命周期 - 挂载完成（可以访问DOM元素）
	// beforeCreate() {}, //生命周期 - 创建之前
	// beforeMount() {}, //生命周期 - 挂载之前
	// beforeUpdate() {}, //生命周期 - 更新之前
	// updated() {}, //生命周期 - 更新之后
	// beforeDestroy() {}, //生命周期 - 销毁之前
	// destroyed() {}, //生命周期 - 销毁完成
	// activated() {}, //如果页面有keep-alive缓存功能，这个函数会触发
};
</script>

<style scoped>
.header {
	position: relative;
	min-height: 400px;
    max-height: 500px;

	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;

	z-index: 5;
}

.header .background {
	width: 100%;
    height: 100%;
    object-fit: cover;
    background: #232a34;

	position: absolute;
	overflow: hidden;

	z-index: 4;
}

.header .background .background-image {
	width: 100%;
}

.header .title {
	width: 100%;
	margin: 40px auto;

	font-size: 60px;
	text-align: center;
	font-family:'Times New Roman', Times, serif;
    font-weight: 700;

	/* z-index 默认不会被继承 */
	z-index: inherit;
}
</style>
