<template>
	<div class="user-list">

		<template v-for="(user, index) in userList" :key="index">
			<div class="user-container">
				<div class="user-wrapper" @click="jumpToUser(user.id)">
					<div class="left">
						<div class="avatar-wrapper">
							<img class="avatar" :src="user.avatar" alt="">
						</div>
					</div>

					<!-- Right -->
					<div class="right">
						<div class="name margin">
							{{user.username}}
						</div>
						<div class="wrapper1 margin">
							<div class="gender" v-if="genderImg(user)">
								<img class="gender-img" :src="genderImg(user)">
							</div>
							<div class="age" v-if="user.age>0">
								{{user.age}}岁
							</div>
						</div>
						<div class="address margin">
							{{user.province}}&nbsp;{{user.city}}
						</div>

						<div class="brief">
							{{user.brief}}
						</div>
					</div>
					<!-- Right END -->
				</div>
			</div>
		</template>

		<div class="no-user" v-show="userList.length==0">
			暂时还没有哦
		</div>
	</div>
</template>

<script>

export default {
	name: 'UserList',
	props: {
		userList: {
			type: Array,
			default: function() {
				return [
					{id:1, username: '呜呜呜', avatar: 'https://s1.ax1x.com/2022/06/06/X0IPZ8.jpg', brief: ''},
					{id:2, username: '柚子', avatar: 'https://s1.ax1x.com/2022/06/06/X0IPZ8.jpg', brief: '呜呜呜呜呜呜呜呜呜'},
					{id:3, username: '柚子11', avatar: 'https://s1.ax1x.com/2022/06/06/X0IPZ8.jpg', brief: '随便写点这是我的个人简介'},
					{id:4, username: '柚子23', avatar: 'https://s1.ax1x.com/2022/06/06/X0IPZ8.jpg', brief: '暂时还没有个性介绍哦~	位用户很懒，什么都没写哦位用户很懒，什么都没写哦位用户很懒，什么都没写哦位用户很懒，什么都没写哦位用户很懒，什么都没写哦位用户很懒，什么都没写哦位用户很懒，什么都没写哦位用户很懒，什么都没写哦位用户很懒，什么都没写哦位用户很懒，什么都没写哦位用户很懒，什么都没写哦位用户很懒，什么都没写哦位用户很懒，什么都没写哦位用户很懒，什么都没写哦位用户很懒，什么都没写哦位用户很懒，什么都没写哦位用户很懒，什么都没写哦位用户很懒，什么都没写哦位用户很懒，什么都没写哦位用户很懒，什么都没写哦位用户很懒，什么都没写哦位用户很懒，什么都没写哦写哦位用户很懒，什么都没写哦位用户很懒，什么都没写哦位用户很懒，什么都没写哦位用户很懒，什么都没写哦位用户很懒，什么都没写哦位用户很懒，什么都没写哦位用户很懒，什么都没写哦位用户很懒，什么都没写哦位用户很懒，什么都没写哦位用户很懒，什么都没写哦位用户很懒，什么都没写哦位用户'},
					{id:5, username: '柚子33', avatar: 'https://s1.ax1x.com/2022/06/06/X0IPZ8.jpg', brief: '哈哈哈哈哈哈哈哈'},
				]
			}
		},
	},
	methods: {
		jumpToUser(userID) {
			var url = this.$router.resolve({
				name: 'User',
				query: {id: userID},
			})
			window.open(url.href, '_blank')
		},
	},
	computed: {
		genderImg() {
			return (user) => {
				var gender = user.gender
				if (gender == '男')
					return require('@/assets/icon/male.png')
				else if (gender == '女')
					return require('@/assets/icon/female.png')
				else
					return ''
			}
		}
	},
}
</script>

<style scoped>
.user-list {
	--user-width: 17%;

	/* display: flex;
	flex-direction: column; */

	margin: 0.8rem 0.9rem 0;
}

.user-list .no-user {
	margin: 65px auto;

	font-size: 25px;
	font-weight: 600;
}

.user-list .user-container {
	margin: 0 15px 20px;
	padding: 15px;
	width: var(--user-width);
	height: 280px;

	display: inline-block;

	background-color: #fff;
	box-shadow: 0px 2px 5px 2px rgba(0,0,0,.1);
	border-radius: 9px;
	overflow: hidden;

	cursor: pointer;
	transition: 0.3s;
	/* text-align: left; */
}
.user-list .user-wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.user-list .user-container:hover {
	filter: drop-shadow(2px 2px 5px black);
}

/* Left */
.user-container .left {
	margin: auto;
}
/* .user-container .avatar-wrapper {

} */
.user-container .avatar {
	width: 75px;
	height: 75px;
	margin: 10px auto;

	border-radius: 50%;
	overflow: hidden;
}
/* Left END */

/* Right */
.user-container .right {
	width: 100%;
	margin: 0 15px 0;
}

.user-container .right .margin {
	margin-bottom: 4px;
}
.user-container .right .name {
	margin-right: 10px;
	font-size: 18px;
	font-weight: bold;
}
.user .right .wrapper1 {
	display: flex;
    align-items: flex-end;
    justify-content: center;
}
.user .right .gender {
	display: flex;
	margin-right: 4px;
}
.user .right .gender-img {
	width: 22px;
	height: 22px;
}
.user .right .age {
	margin-right: 10px;
	font-size: 15px;
	font-weight: 500;
}
.user .right .address {
	color: #444;
	font-size: 15px;
	font-weight: 600;
}

.user-container .right .brief {
    width: 100%;
	height: 90px;
	margin: 10px 0 0px;

	line-height: 1.6;
    font-size: 15px;
    color: #555;
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: normal;
    white-space: normal;
}
/* Right END */
</style>
