/* 不使用 */
* {
	--link-color: #448aff;
	--muted-color: #999;
	--muted-color-light: #8594ad;
	--muted-color-dark: #000;
	--button-color: #667a99;
	--button-bg: #e4ebf6;
	--button-bg-hover: #d1ddf0;
	--button-bg-active: #becfe9;
	--button-bg-disabled: #e4ebf6;
	--button-primary-color: #fff;
	--button-primary-bg: #448aff;
	--button-primary-bg-hover: #2a7aff;
	--button-primary-bg-active: #116aff;
	--button-primary-bg-disabled: #448aff;
	--control-danger-color: #d66;
	--control-danger-bg: #fdd;
	--control-danger-bg-hover: #ffc3c3;
	--control-danger-bg-active: #faa;
	--control-danger-bg-disabled: #fdd;
}