/* 似乎也要:deep()穿透？ */
a {
	text-decoration: none;
	color: black;
}

/* 会被 * {margin: 0;} 覆盖，要在css中设置。注意需要:deep()穿透 */
/* p {
	margin-block-start: 1em;
	margin-block-end: 1em;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
} */