<template>
	<div class="card">
		<!-- Card Detail -->
		<div class="card-detail">
			<!-- Carousel -->
			<div class="carousel">
				<div class="carousel-main">
					<transition-group tag="ul" class="images" :name="transitionName">
						<!-- :key="index"? -->
						<template v-for="(image, index) in images" :key="image">
							<li v-show="index==current">
								<div class="image" :style="{backgroundImage:'url('+image+')'}"></div>
							</li>
						</template>
					</transition-group>

					<div class="btns">
						<span class="btn left-btn" @click="leftSlide()"></span>
						<span class="btn right-btn" @click="rightSlide()"></span>
					</div>

					<div class="pages">

					</div>
				</div>

				<div class="small-imgs">
					<div class="small-img-wrapper" v-for="(image, index) in images" :key="index"
						@click="changePic(index)"
					>
						<img class="small-img" :class="{'active': index==current}" :src="image">
					</div>
				</div>
			</div>
			<!-- Carousel END -->

			<div class="info">
				<div class="card-info">
					<div class="title"> {{title}} </div>
					<div class="content" id="content"></div>
					<div class="time"> 发布于&ensp;{{createTime}} </div>
				</div>

				<div class="author-and-likes">
					<div class="author-wrapper" @click="jumpToUser(authorID)">
						<div class="avatar-wrapper">
							<img class="avatar" src="https://s1.ax1x.com/2022/06/06/X0IPZ8.jpg" alt="">
						</div>
						<div class="name">
							{{author}}
						</div>
					</div>

					<div class="likes-wrapper">
						<div class="icon-wrapper" @click="bookmarkCard()">
							<img class="icon" :src="bookmarked?require('../assets/svg/liked.svg'):require('@/assets/svg/like.svg')">
						</div>
						<div class="likes" style="margin-right: 15px;">
							{{bookmarks}}
						</div>

						<div class="icon-wrapper" @click="likeCard()">
							<img class="icon" :src="liked?require('../assets/svg/liked.svg'):require('@/assets/svg/like.svg')">
						</div>
						<div class="likes">
							{{likes}}
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Card Detail END -->

		<!-- Comments -->
		<div class="comments">
			<CommentList :user="user"/>
			<!-- <CommentList :commentsCopy="comments"></CommentList> -->
		</div>
		<!-- Comments END -->
	</div>
</template>

<script>
import NavMenu from "@/components/NavMenu";
import CommentList from "@/components/CommentList";

import { ElMessage } from 'element-plus'
import { paraSeparate } from '@/utils/common.js'

export default {
	name: "Card",
	components: { NavMenu, CommentList, },
	props: {
		user: { required: true, },
	},
	data() {
		return {
			cardID: -1,

			authorID: -1,
			avatar: '',
			author: '',

			likes: 0,
			liked: false,
			bookmarks: 0,
			bookmarked: false,

			title: '',
			createTime: '',
			content: '',

			current: 0,
			images: [],

			comments: [],

			transitionName: '',
		};
	},
	activated() {
		if (this.$route.query.id != undefined) {
			this.cardID = this.$route.query.id
		}
		else {
			this.$router.push({
				name: 'NotFound',
			})
		}
	},
	// mounted() {
	// 	this.user = this.$store.getters.getUser
	// 	this.login = this.user.id != undefined
	// 	console.log(this.login)
	// },
	watch: {
		cardID: function() {
			this.getCardDetail()
		}
	},
	methods: {
		// Card
		getCardDetail() {
			if (this.cardID == -1) return
			this.authorID = 1
			this.avatar = 'https://s1.ax1x.com/2022/06/06/X0IPZ8.jpg'
			this.author = 'Aurorein'

			this.likes = 123
			this.liked = false
			this.bookmarks = 6
			this.bookmarked = false

			this.title = '昆明植物园 | 一片绿林 ' + this.cardID
			this.createTime = '2022-06-07 14:14'
			this.content = 'in a forest🌳<br>\n#昆明植物园 #植物园 #生活 #旅行 #云南 #自然'
			this.content = `感谢CHALI茶里品牌的赠予
合欢花都开啦… 盛夏时光真的要开启🔛
悠悠夏日长～流光半夏，
相遇CHALI茶里蜜桃乌龙～
不爱喝水星人狂呼过瘾…
撕开小袋包装 蜜桃的清新微甜气息扑鼻而来～
忍不住拿茶包深闻不止！
不爱喝寡淡白开水的我 喜欢变着花样喝茶
蜜桃乌龙的果茶味让我舒坦极了
乌龙茶原叶的鲜爽和着桃香 一口下去 ～吸进呼出的蜜桃气清清甜甜，是清清甜甜清清甜甜清清甜甜！
闲趣时候给自己制作一杯夏日饮品！
在容器里放入适量冰块 加上CHALI茶里蜜桃乌龙
蜜桃片点缀装饰 …
少女系茶品 有颜有品
口感更清新啦…
比热量爆炸的奶茶好喝n倍
低卡低糖 多饮不怕发胖
一小袋放在包里 出门渴了也可以随时冲泡
让日常多点小乐趣 给自己多一些创意的机会…
#CHALI茶里 #袋泡茶 #便捷 #下午茶 #饮品 #喝一杯好茶`
			this.content = paraSeparate(this.content)
			document.getElementById("content").innerHTML = this.content

			this.images = [
				'https://www.helloimg.com/images/2022/06/17/ZSAzAu.png',
				'https://www.helloimg.com/images/2022/06/17/ZSADuE.png',
				'https://www.helloimg.com/images/2022/06/17/ZSA7Nv.png',
				'https://www.helloimg.com/images/2022/06/17/ZSA6EY.png',
				// {url:'https://static01.imgkr.com/temp/f9c29696b09f42a58771f8687e39be5a.jpg',},
				// {url:'https://static01.imgkr.com/temp/35d908f576574956a286bf4abba87101.jpg',},
				// {url:'https://static01.imgkr.com/temp/7dbd564966be48e98be5e2c220b0687d.png',},
				// {url:'https://static01.imgkr.com/temp/f2cfc339131d439d91af95c892c28217.jpg',},
			]

			this.comments = [
			]
		},
		likeCard() {
			this.liked ^= true
			if (this.liked)
				ElMessage.success('收到你的点赞啦')
		},
		bookmarkCard() {
			this.bookmarked ^= true
			if (this.bookmarked)
				ElMessage.success('收藏成功')
		},
		// User
		jumpToUser(userID) {
			var url = this.$router.resolve({
				name: 'User',
				query: {id: userID},
			})
			window.open(url.href, '_blank')
		},
		// Animation
		leftSlide() {
			this.transitionName = 'leftSlide'
			this.current --
			if (this.current < 0)
				this.current = this.images.length-1
		},
		rightSlide() {
			this.transitionName = 'rightSlide'
			this.current ++
			if (this.current >= this.images.length)
				this.current = 0
		},
		changePic(index) {
			this.current = index
		},
	},
};
</script>

<style scoped>
.card {
	--max-image-width: 450px;
	--max-image-height: 600px;

	width: var(--main-width);
	min-height: calc(100vh - var(--main-padding-top) - var(--main-padding-bottom));
	margin: 0 auto 0;

	padding-top: var(--main-padding-top);
	padding-bottom: var(--main-padding-bottom);
}

.card .card-detail {
	display: flex;
	flex-direction: row;
	justify-content: center;
	/* align-items: center; */
}
.card li {
	list-style: none;
}

/* Carousel */
.card .carousel {
	width: var(--max-image-width);
	margin: 15px 50px auto;
}
/* 实现切换按钮与图片重叠：flex竖直排列，加justify-content: center；images用flex、居中，图片用absolute；btns用relative，按钮用absolute和left/right:10px，即可。 */
/* 事实上应该：图片div用background absolute，这样不同图片间也不会互相影响（对动画影响严重） */
/* 所以：实现切换按钮与图片重叠：图片外层即li用relative，图片用absolute和background；btns用relative，按钮用absolute和left/right:10px，即可。 */
.card .carousel .carousel-main {
	width: var(--max-image-width);
	height: var(--max-image-height);

	/* 注意position 要 relative 或 absolute（不是static），overflow: hidden 才生效 */
	position: relative;
	overflow: hidden;
}
.card .carousel li {
	position: absolute;
	width: var(--max-image-width);
	height: var(--max-image-height);
}
.card .carousel .image {
	width: 100%;
	height: 100%;

	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
}
.card .carousel .btns {
	width: var(--max-image-width);
	height: var(--max-image-height);
	position: relative;
}
.card .carousel .btn {
	width: 35px;
	height: 35px;

	position: absolute;
	top: 50%;
	cursor: pointer;

	opacity: 0.6;
	transition: 0.3s;
}
.card .carousel .btn:hover {
	opacity: 1;
}
.card .carousel .left-btn {
	left: 10px;
	background: url('https://s3.bmp.ovh/imgs/2022/06/09/6c8e1b666e82307a.png');
	background-size: contain;
	/* 注意 contain 要在 background 下面 */
}
.card .carousel .right-btn {
	right: 10px;
	background: url('https://s3.bmp.ovh/imgs/2022/06/09/c2903804d5b5f7aa.png');
	background-size: contain;
}

.card .carousel .small-imgs {
	width: var(--max-image-width);
	margin: 10px 0 0;

	text-align: center;
}
.card .carousel .small-img-wrapper {
	width: 50px;
	height: 50px;
	margin: 0 5px 0;

	display: inline-block;

	border-radius: 4px;
	cursor: pointer;
}
.card .carousel .small-img {
	max-width: 50px;
	max-height: 50px;
	margin: auto;

    display: block;

    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;

	opacity: .6;
    transition: opacity .5s ease;
}
.card .carousel .small-img-wrapper .active {
	opacity: 1;
	box-shadow: 0 3px 8px 0 rgba(255,82,103,.5);
	border: 1px solid #ff2741;
}
/* Carousel END */

/* Info */
.card .info  {
	width: calc(100% - var(--max-image-width));
	height: fit-content;

	/* margin-right: 40px; */
	padding: 0px 10px 10px 10px;
	background: white;

	display: flex;
	flex-direction: column;
	justify-content: space-between;
	/* align-items: center; */
}

.card .title {
	font-size: 35px;
	margin: 0px auto 20px;

	text-align: left;
}
.card .content {
	font-size: 16px;

	text-align: left;
	line-height: 1.5;
}
.card .content :deep() p {
	/* 上下间距 */
	margin-block-start: 0.7em;
	margin-block-end: 0.7em;

	/* 左右间距 */
	margin-inline-start: 7px;
    margin-inline-end: 7px;
}
.time {
	margin-top: 20px;
	font-size: 17px;

	color: var(--muted-color);
	text-align: left;
}
/* Info END */

/* Author */
.card .author-and-likes {
	width: 100%;
	margin-top: 15px;
	/* padding: 0 15px 10px; */

	box-sizing: border-box;

	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}
.card .author-wrapper {
	display: flex;
	flex-direction: row;
	align-items: center;

	cursor: pointer;
}
/* .card .author-wrapper .avatar-wrapper {

} */
.card .author-wrapper .avatar {
	width: 30px;
	height: 30px;

	border-radius: 50%;
	overflow: hidden;
}
.card .author-wrapper .name {
	margin-left: 8px;

	width: 200px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;

	color: #555;
	font-size: 17px;
	text-align: left;
}
.card .likes-wrapper {
	display: flex;
	flex-direction: row;
	align-items: center;
}
.card .likes-wrapper .icon-wrapper {
	width: 25px;
	height: 25px;
}
.card .likes-wrapper .icon {
	width: 100%;
	height: 100%;

	cursor: pointer;
}
.card .likes-wrapper .likes {
	margin-left: 3px;

	font-size: 16px;
}
/* Author END */

/* Else */
.hidden {
	display: none;
}

/* Else END */

/* Animation */
.leftSlide-enter-active {
	transition: 0.8s ease;
	transform: translateX(0);
}
.leftSlide-leave-active {
	transition: 0.8s ease;
	transform: translateX(120%);
	/* >100% 而不是 100% 可以让两张图片分隔开 */
}
.leftSlide-enter-from {
	transform: translateX(-120%);
}
.leftSlide-leave-from {
	transform: translateX(0);
}

.rightSlide-enter-active {
	transition: 0.8s ease;
	transform: translateX(0);
}
.rightSlide-leave-active {
	transition: 0.8s ease;
	transform: translateX(-120%);
}
.rightSlide-enter-from {
	transform: translateX(120%);
}
.rightSlide-leave-from {
	transform: translateX(0);
}
/* Animation END */

</style>
