<template>
	<div v-wechat-title="card.title"></div>

	<div class="card">
		<!-- Card Detail -->
		<div class="card-detail">
			<!-- Carousel -->
			<Carousel :images="card.pictures"></Carousel>
			<!-- Carousel END -->

			<div class="info">
				<div class="card-info">
					<div class="title"> {{card.title}} </div>
					<div class="content" id="content"></div>
				</div>

				<div>
					<!-- <div class="time"> 发布于&ensp;{{card.createTime}} </div> -->
					<div class="time"> 发布于&ensp;{{$filters.dateFormat(card.createTime)}} </div>
					<div class="scenery-name" @click="jumpToScenery(card.sceneryID)">
						<span class="description">相关景点：</span>
						{{card.sceneryName}}
					</div>

					<div class="author-and-likes">
						<div class="author-wrapper" @click="jumpToUser(card.userID)">
							<div class="avatar-wrapper">
								<img class="avatar" :src="card.avatar" alt="">
							</div>
							<div class="name">
								{{card.username}}
							</div>
						</div>

						<div class="likes-wrapper">
							<div class="icon-wrapper" @click="likeCard(3, $event)">
								<img class="icon" :src="bookmarked?require('../assets/icon/bookmarked.png'):require('@/assets/icon/bookmark.png')">
							</div>
							<div class="likes" style="margin-right: 10px;">
								{{card.bookmarks}}
							</div>

							<div class="icon-wrapper" @click="likeCard(1, $event)">
								<img class="icon" :src="liked?require('../assets/icon/liked.png'):require('@/assets/icon/like.png')">
							</div>
							<div class="likes">
								{{card.likes}}
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Card Detail END -->

		<!-- Comments -->
		<div class="comments">
			<CommentList :user="user" :cardID="cardID" />
			<!-- <CommentList :commentsCopy="comments"></CommentList> -->
		</div>
		<!-- Comments END -->

		<!-- <span ref="qwq" class="qwq" :style="qwqStyle">❤</span> -->
	</div>
</template>

<script>
import NavMenu from "@/components/NavMenu";
import CommentList from "@/components/CommentList";
import Carousel from "@/components/Carousel";

import { ElMessage } from 'element-plus'
import { paraSeparate } from '@/utils/common.js'
import * as api_card from '@/api/scenery_card'

export default {
	name: "Card",
	components: { NavMenu, CommentList, Carousel, },
	props: {
		user: { required: true, },
	},
	data() {
		return {
			cardID: -1,

			card: {},
			liked: false,
			bookmarked: false,
		};
	},
	activated() {
		// console.log("2022-06-25T16:08:59+08:00", this.$filters.dateFormat("2022-06-25T16:08:59+08:00"))
		// console.log("2022-06-25T16:06:59+08:00", this.$filters.dateFormat("2022-06-25T16:06:59+08:00"))
		// console.log("2022-06-24T07:11:55+08:00", this.$filters.dateFormat("2022-06-24T07:11:55+08:00"))
		// console.log("2022-06-23T23:59:55+08:00", this.$filters.dateFormat("2022-06-23T23:59:55+08:00"))

		if (this.$route.query.id == undefined) {
			this.$router.push({
				name: 'NotFound',
			})
		}
		this.cardID = Number(this.$route.query.id)

		this.getCardDetail()
		if (this.user) {
			this.checkLiked(1)
			this.checkLiked(3)
		}
	},
	methods: {
		// Card
		getCardDetail() {
			if (this.cardID == -1) return
			this.liked = false,
			this.bookmarked = false,
			// this.loadTestData()
			// return

			api_card
				.getSceneryCard(this.cardID)
				.then(res => {
					if (res.status === 200) {
						// console.log(res.data)
						this.card = res.data

						// this.card.content += '\n在去哪儿网上买最便宜的才50多元。公园中心有一个小湖泊，可以带点零食在这里野餐 拼接一下？\n在去哪儿网上买最便宜的才50多元。公园中心有一个小湖泊，可以带点零食在这里野餐这倒是这倒是这倒是'
						this.card.content = paraSeparate(this.card.content)
						document.getElementById("content").innerHTML = this.card.content
					} else if (res.status === 20001) {
						this.loginExpired(res.msg)
					} else {
						ElMessage.error('获取卡片信息失败：'+res.msg)
					}
				})
				.catch(err => {
					ElMessage.error('获取卡片信息失败：'+err)
				})
		},
		// 检查是否已点赞/收藏
		checkLiked(type) {
			api_card
				.checkLikeSceneryCard(this.user.id, this.cardID, type)
				.then(res => {
					if (res.status === 200) {
						if (type == 1)
							this.liked = res.data
						else
							this.bookmarked = res.data
					} else if (res.status === 20001) {
						this.loginExpired(res.msg)
					} else {
						ElMessage.error('点赞或收藏失败：'+res.msg)
					}
				})
				.catch(err => {
					ElMessage.error('点赞或收藏失败：'+err)
				})
		},
		likeCard(type, e) {
			if (!this.user) {
				ElMessage.error('请先登录哦')
				return
			}
			if (type == 1 && this.liked) // 取消点赞
				type = 2
			else if (type == 3 && this.bookmarked) // 取消收藏
				type = 4

			var val = type&1 ? 1 : -1
			if (type <= 2) {
				this.liked ^= true
				this.card.likes += val
				if (this.liked) {
					this.likeAnimation(e)
					ElMessage.success('收到你的点赞啦')
				}
			}
			else {
				this.bookmarked ^= true
				this.card.bookmarks += val
				if (this.bookmarked)
					ElMessage.success('收藏成功')
			}
			api_card
				.likeSceneryCard(this.user.id, this.cardID, this.card.userID, type)
				.then(res => {
					if (res.status === 200) {
						// 可在此处处理成功后的提示，但太慢了
					} else if (res.status === 20001) {
						this.loginExpired(res.msg)
					} else {
						ElMessage.error('点赞或收藏失败：'+res.msg)
					}
				})
				.catch(err => {
					ElMessage.error('点赞或收藏失败：'+err)
				})
		},
		// User
		jumpToUser(userID) {
			var url = this.$router.resolve({
				name: 'User',
				query: {id: userID},
			})
			window.open(url.href, '_blank')
		},
		// Scenery
		jumpToScenery(sceneryID) {
			var url = this.$router.resolve({
				name: 'Scenery',
				query: {id: sceneryID},
			})
			window.open(url.href, '_blank')
		},
		// Animation
		likeAnimation(e) {
			return
			var $i = $("<span></span>").text("❤");
			var x = e.pageX, y = e.pageY;
			$i.css({
				"z-index": 10,
				"top": y - 20,
				"left": x,
				"position": "absolute",
				"font-weight": "bold",
				"color": "rgb("+~~(255*Math.random())+","+~~(255*Math.random())+","+~~(255*Math.random())+")"
			});
			$("body").append($i);
			$i.animate({
				"top": y - 180,
				"opacity": 0
			},
			2500,
			function() {
				$i.remove();
			});
		},
		// Test
		loadTestData() {
			this.card = {
				sceneryID: 1,
				userID: 1,

				username: 'Aurorein',
				avatar: 'https://s1.ax1x.com/2022/06/06/X0IPZ8.jpg',
				sceneryName: '昆明植物园',

				score: 4.7,
				likes: 123,
				bookmarks: 6,
				createTime: '2022-06-07 14:14',

				title: '昆明植物园 | 一片绿林 ' + this.cardID,
				// content: 'in a forest🌳!',
				content: `感谢CHALI茶里品牌的赠予,
合欢花都开啦… 盛夏时光真的要开启🔛
悠悠夏日长～流光半夏，
相遇CHALI茶里蜜桃乌龙～
不爱喝水星人狂呼过瘾…
撕开小袋包装 蜜桃的清新微甜气息扑鼻而来～
忍不住拿茶包深闻不止！
不爱喝寡淡白开水的我 喜欢变着花样喝茶
蜜桃乌龙的果茶味让我舒坦极了
乌龙茶原叶的鲜爽和着桃香 一口下去 ～吸进呼出的蜜桃气清清甜甜，是清清甜甜清清甜甜清清甜甜！
闲趣时候给自己制作一杯夏日饮品！
在容器里放入适量冰块 加上CHALI茶里蜜桃乌龙
蜜桃片点缀装饰 …
少女系茶品 有颜有品
口感更清新啦…
比热量爆炸的奶茶好喝n倍
低卡低糖 多饮不怕发胖
一小袋放在包里 出门渴了也可以随时冲泡
让日常多点小乐趣 给自己多一些创意的机会…
#CHALI茶里 #袋泡茶 #便捷 #下午茶 #饮品 #喝一杯好茶`,

				pictures: [
					'https://www.helloimg.com/images/2022/06/17/ZSAzAu.png',
					'https://www.helloimg.com/images/2022/06/17/ZSADuE.png',
					'https://www.helloimg.com/images/2022/06/17/ZSA7Nv.png',
					'https://www.helloimg.com/images/2022/06/17/ZSA6EY.png',
				]
			}
			this.card.content = paraSeparate(this.card.content)
			document.getElementById("content").innerHTML = this.card.content
		},
	},
};
</script>

<style scoped>
.card {
	/* --max-image-width: 500px;
	--max-image-height: 600px; */
	--max-image-width: 500px;
	--max-image-height: 500px;

	width: var(--main-width);
	min-height: calc(100vh - var(--main-padding-top) - var(--main-padding-bottom));
	margin: 0 auto 0;

	padding-top: var(--main-padding-top);
	padding-bottom: var(--main-padding-bottom);
}

.card .card-detail {
	display: flex;
	flex-direction: row;
	justify-content: center;
	/* align-items: center; */
}
.card li {
	list-style: none;
}

/* Info */
.card .info  {
	width: calc(100% - var(--max-image-width));
	height: fit-content;
	/* min-height: 660px; */
	min-height: 530px;

	margin: auto 0;
	padding: 0px 10px 10px 10px;
	background: white;

	display: flex;
	flex-direction: column;
	justify-content: space-between;
	/* align-items: center; */

	text-align: left;
}

.card .info .title {
	font-size: 35px;
	/* margin: 15px auto; */
	margin: 55px auto;
}
.card .info .content {
	font-size: 16px;

	line-height: 1.65;
}
.card .info .content :deep() p {
	/* 上下间距 */
	margin-block-start: 0.7em;
	margin-block-end: 0.7em;

	/* 左右间距 */
	margin-inline-start: 7px;
    margin-inline-end: 7px;
}
.card .info .time {
	margin-top: 20px;
	font-size: 17px;

	color: var(--muted-color);
}
.card .info .scenery-name {
	margin-top: 10px;
	display: flex;
    align-items: flex-end;

	font-size: 18px;
	color: var(--link-color);
	cursor: pointer;
}
.card .info .scenery-name .description {
	font-size: 16px;
	color: #999;
}

/* Info END */

/* Author */
.card .author-and-likes {
	width: 100%;
	margin-top: 20px;
	/* padding: 0 15px 10px; */

	box-sizing: border-box;

	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}
.card .author-wrapper {
	display: flex;
	flex-direction: row;
	align-items: center;

	cursor: pointer;
}
/* .card .author-wrapper .avatar-wrapper {

} */
.card .author-wrapper .avatar {
	width: 30px;
	height: 30px;

	border-radius: 50%;
	overflow: hidden;
}
.card .author-wrapper .name {
	margin-left: 8px;

	width: 300px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;

	color: #555;
	font-size: 17px;
	text-align: left;
}
.card .likes-wrapper {
	display: flex;
	flex-direction: row;
	align-items: center;
}
.card .likes-wrapper .icon-wrapper {
	width: 25px;
	height: 25px;
}
.card .likes-wrapper .icon {
	width: 100%;
	height: 100%;

	cursor: pointer;
}
.card .likes-wrapper .likes {
	margin-left: 3px;

	font-size: 16px;
}
/* Author END */

/* Else */
.hidden {
	display: none;
}

/* Else END */


</style>
