<template>
	<div v-wechat-title="'首页'"></div>

	<div class="home">
		<Title></Title>
		<SearchOption></SearchOption>

		<CardLists :cardList="cardList" :noCardsHint="'搜索中 请稍后~'"></CardLists>
	</div>
</template>

<script>
import SearchOption from '@/components/SearchOption'
import CardLists from '@/components/CardLists'
import Title from '@/components/Title'

import { ElMessage } from 'element-plus'
import * as CardAPI from '@/api/scenery_card'

export default {
	name: 'Home',
	components: { SearchOption, CardLists, Title },
	props: {
		user: { required: true, },
		userInfo: { required: true, },
	},
	data() {
		return {
			queryCount: 0, // 第几次获取卡片
			cardList: [],
		}
	},
	mounted() {
		this.getCardList()
		window.addEventListener('scroll', this.handleScroll, true)
	},
	deactivated() {
		window.removeEventListener('scroll', this.handleScroll, true);
	},
	methods: {
		handleScroll() {
			const docEle = document.documentElement
			const docBody = document.body
			let scrollTop = docEle.scrollTop || docBody.scrollTop // 滚动条距离顶部的距离
			let windowHeight = docEle.clientHeight || docBody.clientHeight // 可视区的高度
			let scrollHeight = docEle.scrollHeight || docBody.scrollHeight //dom元素的高度，包含溢出不可见的内容
			// 滚动条到底部的条件: scrollTop + windowHeight === scrollHeight
			// console.log(scrollHeight, scrollTop+windowHeight)
			if (scrollHeight <= Math.ceil(scrollTop) + windowHeight) {
				this.queryCount ++
				this.getCardList()
			}
		},
		// -- 获取 CardList --
		getCardList() {
			var userID = -1
			var p = "", c = "", d = ""
			if (this.user) {
				userID = this.user.id
				if (this.userInfo) {
					p = this.userInfo.province
					c = this.userInfo.city
					d = this.userInfo.district
				}
			}
			CardAPI
				.pushSceneryCards(userID, p, c, d, this.queryCount)
				.then(res => {
					if (res.status === 200) {
						for (var v of res.data)
							this.cardList.push(v)
						// console.log(res.data)
						// console.log(this.cardList)
					} else if (res.status === 20001) {
						this.loginExpired(res.msg)
					} else {
						ElMessage.error('获取卡片推送失败：'+res.msg)
					}
				})
				.catch(err => {
					ElMessage.error('获取卡片推送失败：'+err)
				})
		},
	},
}
</script>

<style scoped>

/* .home {
	background: pink;
} */

/* 另一种背景实现方式：使用height:100%(窗口高度) 和 absolute(脱离文档流) */
/* .home .background {
	width: 100%;
    height: 100%;

	position: absolute;
	overflow: hidden;

	z-index: -5;
} */

</style>