<template>
	<div v-wechat-title="'登录'"></div>

	<div class="login" id="login" name="login">
		<div class="left-box">
		</div>
		<div class="right-box">
			<div class="login-box-container">

				<div class="login-box">
					<div class="title">Start Your Journey</div>

					<el-form :model="form" :rules="rules" status-icon ref="form">
						<div class="input">
							<el-form-item prop="username">
								<el-input v-model="form.username" type="text" placeholder="Username"/>
							</el-form-item>
						</div>
						<div class="input">
							<el-form-item prop="password">
								<el-input v-model="form.password" type="password" placeholder="Password" show-password />
							</el-form-item>
						</div>
						<div class="input captcha">
							<el-form-item prop="captcha">
								<el-input v-model="form.captcha" placeholder="Captcha"/>
							</el-form-item>

							<div class="captchaPic">
								<img :src="form.captchaURL" alt="验证码加载失败，请刷新"
									style="width:150px; border: solid 1px #ffffff;"
									@click="getCaptcha()"
								/>
							</div>
						</div>
					</el-form>

					<div class="checkbox">
						<el-checkbox v-model="form.rememberMe">
							Remember Me
						</el-checkbox>
					</div>

					<!-- 在两个btn的父元素上使用display: flex。不能在input-box上用 -->
					<div class="buttons">
						<div class="btn login-btn" @click="login()">
							<span>SIGN IN</span>
						</div>
						<div class="btn signup-btn" @click="signup()">
							<span>SIGN UP</span>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>
</template>

<script>
import { mapActions } from 'vuex'
import { ElMessage, ElMessageBox } from 'element-plus'

import * as userAPI from '@/api/user'

export default {
	name: 'Login',
	props: {
		user: { required: true, },
	},
	data() {
		var validateUsername = (rule, value, callback) => {
			if (value === '') {
				callback(new Error('请输入用户名'))
			}
			else if (/^[a-zA-Z0-9\u0391-\uFFE5]+$/.test(value) == false) {
				callback(new Error('请输入中文字符、字母或数字'))
			}
			else if (value.length < 3 || value.length > 12) {
				callback(new Error('用户名长度需在3到12个字符之间'))
			}
			callback()
		}
		var validatePassword = (rule, value, callback) => {
			if (value === '') {
				callback(new Error('请输入密码'))
			}
			else if (/^[a-zA-Z0-9]+$/.test(value) == false) {
				callback(new Error('请输入字母或数字'))
			}
			else if (value.length < 3 || value.length > 16) {
				callback(new Error('密码长度需在6到16位之间'))
			}
			callback()
		}
		var validateCaptcha = (rule, value, callback) => {
			if (value === '') {
				callback(new Error('请输入验证码'))
			}
			else if (/^[a-zA-Z0-9]+$/.test(value) == false) {
				callback(new Error('请输入字母或数字，不区分大小写'))
			}
			callback()
		}
		return{
			form: {
				username: '',
				password: '',
				captcha: '',
				captchaID: '', // 后端返回的captchaID，需用于验证码校验
				captchaURL: '', // 后端返回的验证码URL，用这个是可扩展到PNG外的格式
				rememberMe: false
			},
			rules: {
				username: [{ validator: validateUsername, trigger: 'change'}],
				password: [{ validator: validatePassword, trigger: 'blur'}],
				captcha: [{ validator: validateCaptcha, trigger: 'blur'}]
			}
		}
	},
	methods: {
		...mapActions([
			'setUser', 'setUserInfo',
		]),
		operationFail(msg, title) {
			ElMessageBox.alert(msg, title, {
				confirmButtonText: 'OK',
				callback: (action) => {
					this.form.password = ''
					this.form.captcha = ''
				}
			})
			// 重新获取验证码（一次后失效）
			this.getCaptcha()
		},
		login() {
			// this 是当前应用
			this.$refs.form.validate(valid => {
				if (!valid) {
					this.operationFail('请正确填写信息', '操作失败')
					return // el-form表单验证（重新调用rules验证）
				}

				userAPI.postLogin(this.form)
					.then(res => {
						if (res.status === 200) {
							if (res.data.user.status == 2) {
								ElMessage.error('您的账号已被封禁，请联系管理员')
								return
							}
							this.getUserInfo(res.data.user.id)

							// 保存登录信息到本地
							localStorage.setItem('user', JSON.stringify(res.data.user))
							localStorage.setItem('token', res.data.token)

							// 保存登录信息到vuex
							this.setUser(res.data.user)

							this.$router.push({
								name: 'Home'
							})
							// 通知框提示登录成功信息
							ElMessage({
								showClose: true, // 关闭按钮
								message: '登录成功',
								type: 'success'
							})
						}
						else {
							this.operationFail(res.msg, '登录失败')
							// ElMessage.error('登录失败：'+res.msg) // 只能用一个字符串参数，不能多个
						}
					})
					.catch(error => {
						this.operationFail('登录失败：', error)
					})
			})
		},
		signup() {
			this.$refs.form.validate(valid => {
				if(!valid) {
					this.operationFail('请正确填写信息', '操作失败')
					return // el-form表单验证（重新调用rules验证）
				}

				userAPI.postRegister(this.form)
					.then(res => {
						if (res.status === 200) {
							// 通知框提示成功信息
							ElMessage({
								showClose: true, // 关闭按钮
								message: '注册成功',
								type: 'success',
							})
							setTimeout(()=>{
								location.reload();
							}, 500);
						}
						else {
							this.operationFail(res.msg, '注册失败')
						}
					})
					.catch(error => {
						this.operationFail('登录失败：', error)
					})
			})
		},
		getCaptcha() {
			userAPI.getCaptcha()
			.then(res => {
				this.form.captchaID = res.CaptchaID
				this.form.captchaURL = res.CaptchaURL
			})
			.catch(error => {
				ElMessage.error('验证码获取失败：'+error)
			})
		},
		getUserInfo(id) {
			// 登录后，获取该用户的部分信息
			userAPI
				.getUserInfo(id)
				.then(res => {
					if (res.status === 200) {
						// 保存用户信息到本地（vuex只是同页面传递值？并不能跨页面存储）
						localStorage.setItem('userInfo', JSON.stringify(res.data))

						// 保存用户信息到vuex
						this.setUserInfo(res.data)
					} else if (res.status === 20001) {
						this.loginExpired(res.msg)
					} else {
						ElMessage.error('获取用户信息失败：'+res.msg)
					}
				})
				.catch(err => {
					ElMessage.error('获取用户信息失败：'+err)
				})
		},
	},
	mounted() {
		if (this.user) {
			this.$router.push({name: 'Home'})
			return
		}
		this.getCaptcha()
	},
}
</script>

<style scoped>
.login {
	display: flex;
	flex-direction: row;
	width: 100%;
	height: 100%;
	position: absolute;

	--input-box-width: 400px;
	--input-box-captcha-width: 200px;
	--input-box-margin-left: -35px;
}

.left-box {
	box-sizing: border-box;

	background-image: url(https://www.helloimg.com/images/2022/06/17/ZSHCsr.jpg);
	background-size: cover;
	background-position: center;

	width: 50%;
}

.right-box {
	/* overflow: hidden; */

	width: 50%;
	height: 100%;

	background-color: rgba(255, 134, 134, 0.3);
}

/* login-box */
.login-box-container {
	min-height: 100vh;
	padding-top: 3rem;
	padding-bottom: 3rem;
	box-sizing: border-box;

	display: flex;
	align-items: center;
}

.login-box {
	width: 100%;

	/* height: 350px;
	width: 600px; */
	/* top: 50%;
	left: 50%; */
	/* position: absolute; */
	overflow: hidden;
	box-sizing: border-box;
	opacity: 1;
	transition: 1s;
}

.login-box .title {
	margin: 0px 0 30px 0;
	position: relative;
	width: 100%;
	font-size: 32px;
	display: flex;
	justify-content: center;
	align-items: center;
	text-transform: uppercase;
	font-weight: 500;
	letter-spacing: 3px;
	transition: .4s;

	color: white;
	text-shadow: 0px 0px 7px rgba(0, 208, 255, 0.9);
}

.login-box .input {
	height: 45px;
	position: relative;
	display: flex;
	justify-content: center;
	margin-bottom: 15px;
	margin-left: var(--input-box-margin-left);

	/* 水平居中的一种实现方式 */
	/* width: 400px;
	margin: 20px auto; */
}

.login-box .checkbox {
	margin-top: 0px;
	margin-left: calc(var(--input-box-width) * -0.5 + var(--input-box-margin-left));
	text-shadow: 0 0 1px black;
}

.login-box .checkbox :deep() .el-checkbox__label {
	font-size: 16px;
}

.login-box .buttons {
	display: flex;
	margin-top: 10px;
	margin-left: calc(50% - var(--input-box-width) * 0.5 + var(--input-box-margin-left) * 0.5);
}

.login-box .btn {
	font-size: 14px;
	height: 42px;
	width: 90px;
	margin-right: 60px;

	display: flex;
	justify-content: center;
	align-items: center;

	border-radius: 30px;
	cursor: pointer;
	transition: .4s;
}

.login-box .login-btn {
	color: rgba(255, 255, 255, 1);
	background-color: rgb(13, 110, 253);
}

.login-box .signup-btn {
	color: rgba(13, 110, 253, 1);
	background-color: rgb(255, 255, 255);
}
</style>

<style scoped>
/* el-ui */
.login-box :deep() .el-input__wrapper {
	padding: 0;
	border-radius: 20px;

	box-shadow: none;
}

.login-box :deep() .el-input__inner {
	border: 1px solid #51ff4e;

	position: relative;
	width: var(--input-box-width);
	height: 45px;
	padding-left: 15px;
	font-size: 19px;
	background-color: rgba(255, 255, 255, 0.3);
	border-radius: 20px;
	transition: .4s;

	caret-color: rgb(255, 0, 0);
	color: rgba(0, 0, 0, 0.8);
}

/* 加上验证码后三行宽度一样，就不需要再设 margin-left 了 */
/* .login-box .captcha {
	margin-left: calc(var(--input-box-width) * -0.5 + var(--input-box-margin-left));
} */

.login-box .captcha :deep() .el-input {
	width: var(--input-box-captcha-width);
}

.login-box .captcha :deep() .el-input__wrapper {
	width: 100%;
}

.login-box .captcha :deep() .el-input__inner {
	width: 100%;
}

/* .login-box :deep() .el-input {
	position: relative;
	width: var(--input-box-width);
	height: 45px;
	border: none;
	outline: none;
	font-size: 16px;
	transition: .4s;
} */

.login-box :deep() .el-input :focus {
	box-shadow: 0 0 25px rgba(108, 235, 255, 0.8);
}

.login-box :deep() .el-input__suffix {
	width: 0;
}
.login-box :deep() .el-input__suffix-inner {
	margin-left: -40px;
}

.login-box :deep() .el-form-item__error {
	transition: .4s;
}

.login-box .captchaPic {
	width: 150px;
	margin: 0 25px;
}

/* 并不能成功修改 */
/* body :deep() .el-button {
	background: var(--el-color-primary);
	border-color: var(--el-color-primary);
} */
</style>

