<template>
	<div v-wechat-title="'标题'"></div>

	<NavMenu></NavMenu>
	<div class="mb" id="mb" name="mb">
		<div>

		</div>
	</div>
</template>

<script>
import NavMenu from '@/components/NavMenu'
// import * as AddressAPI from '@/api/address'

// import { ElMessage } from 'element-plus'

export default {
	name: 'mb',
	components: { NavMenu },
	props: {
		user: { required: true, },
	},
	data() {
		return{

		}
	},
	methods: {

	},
}
</script>

<style scoped>
.mb {
	--left-box-width: 50%;
	--right-box-width: calc(var(--main-width) - var(--left-box-width));

	width: var(--main-width);
	min-height: calc(100vh - var(--main-padding-top));
	margin: 0 auto 0;

	padding-top: var(--main-padding-top);
	/* padding-bottom: var(--main-padding-bottom); */

	display: flex;
	flex-direction: row;
}

.mb .left-box {
	width: var(--left-box-width);
	margin: 0px 50px;
}

.mb .right-box  {
	width: var(--right-box-width);
	height: fit-content;

	padding: 0px 10px 10px 10px;

	background: white;
}

</style>