<template>
	<div v-wechat-title="'404'"></div>

	<NavMenu></NavMenu>
	<div class="not-found">
		<div>
			emm Nothing here!
		</div>
	</div>
</template>

<script>
import NavMenu from '@/components/NavMenu'

export default {
	name: 'NotFound',
	components: { NavMenu, },
	data() {
		return{

		}
	},
	methods: {

	},
}
</script>

<style scoped>


</style>