<template>
	<div v-wechat-title="'发表卡片'"></div>

	<div class="post">
		<!-- upload pics -->
		<div class="left-box">
			<h3 class="title">
				上传图片
			</h3>
			<div class="img-upload">
				<el-upload
					action
					:file-list="imgList"
					:on-remove="handleRemove"
					:before-upload="beforeUpload"
					:http-request="uploadRequest"
					list-type="picture"
					multiple
					:auto-upload="true"
				>
					<div class="btn">
						Upload<el-icon class="el-icon--right"><Upload /></el-icon>
					</div>
					<div class="el-upload__tip">只能上传jpg/png文件，且不超过 2MB</div>
				</el-upload>
			</div>
		</div>

		<!-- details -->
		<div class="right-box">
			<!-- select scenery -->
			<h3 class="title">
				选择景点
			</h3>
			<div class="scenery-select">

				<!-- select -->
				<el-form label-width="70px" status-icon>
					<!-- select address -->
					<el-form-item label="地址">
						<el-select v-model="province" placeholder="请选择">
							<el-option
								v-for="(item, index) in provinceList"
								:key="index"
								:label="item"
								:value="index">
							</el-option>
						</el-select>
						<el-select v-model="city" placeholder="请选择">
							<el-option
								v-for="(item, index) in cityList"
								:key="index"
								:label="item"
								:value="index">
							</el-option>
						</el-select>
						<el-select v-model="district" placeholder="请选择">
							<el-option
								v-for="(item, index) in districtList"
								:key="index"
								:label="item"
								:value="index">
							</el-option>
						</el-select>
					</el-form-item>
					<!-- select address END -->

					<el-form-item label="详细信息">
						<!-- <el-input
							type="text"
							placeholder="请输入景点详细信息"
							v-model="keyword"
							maxlength="20"
							show-word-limit
						>
						</el-input> -->
						<el-select
							v-model="sceneryID" filterable placeholder="请选择"
						>
							<el-option
								v-for="item in sceneries"
								:key="item.sceneryID"
								:label="item.sceneryName"
								:value="item.sceneryID">
							</el-option>
						</el-select>
					</el-form-item>
				</el-form>
				<!-- select END -->

				<div class="new-scenery-tip" @click="newScenery()">
					没有想要的景点？点击新建~
				</div>
			</div>
			<!-- select scenery END -->

			<!-- rate -->
			<h3 class="title">
				给景点评分
			</h3>
			<div class="rate">
				<el-rate
					style="display: inline;"
					size="large"
					v-model="score"
					show-text
					:colors="['#99A9BF', '#F7BA2A', '#FF9900']"
					:texts="['很差', '较差', '一般', '满意', '完美']"
					allow-half
					@change="rate"
				/>
				<!-- @change的函数的参数默认为绑定的值，但如果这里用了rate()或rate(value)会覆盖掉 -->
			</div>
			<!-- Rate END -->

			<!-- Content -->
			<div class="content">
				<h3 class="title">
					卡片标题
				</h3>

				<!-- 自带的autosize效果很差，可以自行在 el-textarea__inner 中设置height -->
				<el-input
					v-model="title"
					type="textarea"
					placeholder="A title!"
					maxlength="200"
					show-word-limit
					:autosize="{ minRows: 1 }"
				>
				</el-input>
			</div>

			<div class="content">
				<h3 class="title">
					分享内容
				</h3>

				<el-input
					v-model="content"
					type="textarea"
					placeholder="Say something~"
					maxlength="1000"
					show-word-limit
					:autosize="{ minRows: 8 }"
				>
				</el-input>
			</div>
			<!-- Content END -->

			<!-- Button -->
			<div class="btn" @click="submitCard()">
				发表
			</div>
			<!-- Button END -->
		</div>
	</div>
</template>


<script>
import NavMenu from '@/components/NavMenu'

import { ElMessage } from 'element-plus'
import * as AddressAPI from '@/api/address'
import * as AMapAPI from '@/api/sdk'
import * as CardAPI from '@/api/scenery_card'
import * as SceneryAPI from '@/api/scenery'
import * as UploadAPI from '@/api/upload'

export default {
	name: 'Post',
	components: { NavMenu, },
	props: {
		user: { required: true, },
	},
	data() {
		return{
			// -- image upload --
			imgList: [], // {name:'', url:''}
			// 上传到数据库的图片key
			imgKeys: [], // {name:'', key:''}

			// -- address select --
			province: 0,
			city: 0,
			district: 0,
			provinceList: ['请选择', '北京市', '上海市', '香港', '福建省'],
			cityList: ['请选择'],
			districtList: ['请选择'],

			// keyword: '',

			// -- scenery select --
			sceneryID: -1,
			sceneries: [
				{sceneryID:-1, sceneryName:'请选择'},
			],

			// -- detail information --
			score: 0,
			title: '',
			content: '',
		}
	},
	created() {
		// this.getDistricts(1, '中国', 'p')
	},
	watch: {
		province: function() {
			this.getDistricts(this.province, this.provinceList[this.province], 'c')
			this.city = 0
			this.district = 0
			this.districtList = ['请选择']
			this.sceneryID = -1
			this.sceneries = [{sceneryID:-1, sceneryName:'请选择'},]
		},
		city: function() {
			this.getDistricts(this.city, this.cityList[this.city], 'd')
			this.district = 0
			this.sceneryID = -1
			this.sceneries = [{sceneryID:-1, sceneryName:'请选择'},]
			// 有些可能没有三级行政区：香港
			if (this.provinceList[this.province] == '香港') {
				this.getSceneryNameByDetail(false)
			}
		},
		district: function() {
			this.sceneryID = -1
			this.getSceneryNameByDetail(true)
		},
	},
	methods: {
		// -- image upload --
		handleRemove(file, fileList) {
			for (let i in this.imgKeys) {
				if (this.imgKeys[i].name == file.name) {
					this.imgKeys.splice(i, 1)
				}
			}
			// console.log('imgKeys:', this.imgKeys)
		},
		beforeUpload(file) {
			// 在上传前 imgList 就会被更新
			if (this.imgList.length >= 6) {
				ElMessage.error('最多只能上传5张图片哦！')
				return false
			}
			const isPNG = file.type === 'image/png' || file.type === 'image/jpeg'
			const isLT1M = file.size / 1024 / 1024 < 2
			if (!isPNG) {
				ElMessage.error('只能上传 JPG/PNG 格式的图片噢')
			}
			if (!isLT1M) {
				ElMessage.error('上传图片的大小不能超过 2MB 噢')
			}
			return isPNG && isLT1M
		},
		uploadRequest(option) {
			// return
			UploadAPI
				.uploadImage(option.file.name)
				.then(res => {
					if (res.status === 200) {
						const xhr = new XMLHttpRequest()
						xhr.open('PUT', res.data.putURL, true)
						xhr.send(option.file)
						xhr.onload = () => {
							this.imgKeys.push({name:option.file.name, key:res.data.key})
							// this.imgList.push({name:option.file.name, url:res.data.getURL}) // url使用本地的即可，无需在此修改
						}
					} else if (res.status === 20001) {
						//token过期，需要重新登录
						this.loginExpired(res.msg)
					} else {
						ElMessage.error('上传失败：' + res.msg)
					}
				})
				.catch(error => {
					ElMessage.error('上传失败：' + error)
				})
		},

		// -- scenery select --
		getDistricts(index, keyword, choose) {
			if (index == 0) {
				if (choose == 'c') {
					this.cityList = ['请选择']
				}
				else if (choose == 'd') {
					this.districtList = ['请选择']
				}
				return
			}
			AMapAPI
				.getDistricts(keyword)
				.then(res => {
					if (res.status === 200) {
						res.data.unshift('请选择')
						if (choose == 'p') {
							this.provinceList = res.data
						} else if (choose == 'c') {
							this.cityList = res.data
						} else {
							this.districtList = res.data
						}
					} else {
						ElMessage.error('获取地址列表失败：'+res.msg)
					}
				})
				.catch(err => {
					ElMessage.error('获取地址列表失败：'+err)
				})
		},
		// onSceneryChange(value) {
		// 	console.log('Change!', value)
		// },
		getSceneryNameByDetail(checkDistrict) {
			if (this.province == 0 || this.city == 0 || (checkDistrict && this.district == 0)) {
				this.sceneryID = -1
				return
			}
			SceneryAPI
				.getSceneryNameByDetail(this.provinceList[this.province], this.cityList[this.city], this.districtList[this.district], '')
				.then(res => {
					if (res.status === 200) {
						if (res.data != null) {
							this.sceneries = res.data
						}
					} else if (res.status === 20001) {
						this.loginExpired(res.msg)
					} else {
						ElMessage.error('获取景点信息失败：'+res.msg)
					}
				})
				.catch(err => {
					ElMessage.error('获取景点信息失败：'+err)
				})
		},

		// -- new scenery --
		newScenery() {
			// ElMessage('该功能还没有实现哦')
			let path = this.$router.resolve({
				name: "SceneryCreate",
			});
			window.open(path.href, "_blank");
		},

		// -- rate --
		rate(value) {
			// ElMessage.success(`评价成功${this.score} ${value}`)
		},

		// -- submit --
		submitCard() {
			if (this.imgList.length == 0) {
				ElMessage.error('请选择至少一张图片上传哦')
				return
			}
			if (this.sceneryID == -1) {
				ElMessage.error('请选择你要发表的景点哦')
				return
			}
			if (this.score == 0) {
				ElMessage.error('请先给景点评分哦')
				return
			}
			if (this.title == '') {
				ElMessage.error('给卡片起个标题叭~')
				return
			}
			if (this.content == '') {
				ElMessage.error('说点什么叭~')
				return
			}
			if (!this.user) {
				ElMessage.error('请先登录哦')
				return
			}
			var pics = []
			for (var v of this.imgKeys) {
				pics.push(v.key)
			}
			CardAPI
				.postSceneryCard(this.sceneryID, this.user.id, this.title, this.content, this.score, pics)
				.then(res => {
					if (res.status === 200) {
						ElMessage.success(`卡片发表成功啦`)
						setTimeout(() => {
							this.$router.push({
								name: 'Card',
								query: {id: res.data},
							})
						}, 300);
					} else if (res.status === 20001) {
						this.loginExpired(res.msg)
					} else {
						ElMessage.error('发表卡片失败：'+res.msg)
					}
				})
				.catch(err => {
					ElMessage.error('发表卡片失败：'+err)
				})
		},
	},
}
</script>

<style scoped>
.post {
	--left-box-width: 350px;
	--right-box-width: calc(var(--main-width) - var(--left-box-width));
	--upload-image-width: 250px;
	--upload-image-height: 90px;

	width: var(--main-width);
	min-height: calc(100vh - var(--main-padding-top));
	margin: 0 auto 0;

	padding-top: var(--main-padding-top);
	/* padding-bottom: var(--main-padding-bottom); */

	display: flex;
	flex-direction: row;
}

.post .title {
	margin: 18px 0;
	width: 100%;
	/* padding-left: 75px; */
	text-align: left;
}

/* Left Box */
.left-box {
	width: var(--left-box-width);
	margin: 0px 50px;

	/* display: flex;
	align-items: center;
	flex-direction: column; */
}

/* .left-box .img-upload {

} */

.left-box .img-upload .btn {
	width: 91px;
	height: 33px;

	display: flex;
	align-items: center;
	justify-content: center;

	border-radius: 5px;
	color: var(--button-primary-color);
	background: var(--button-primary-bg);
}
.left-box .img-upload .btn:hover {
	background: var(--button-primary-bg-hover);
}
.left-box .img-upload .btn:active {
	background: var(--button-primary-bg-active);
}
.left-box .img-upload :deep() .el-upload__tip {
	margin-left: 5px;
}
.left-box .img-upload :deep() .el-upload-list__item {
	width: var(--upload-image-width);
	height: var(--upload-image-height);

	margin: 13px auto 0px;
}
.left-box .img-upload :deep() .el-upload-list__item-thumbnail {
	max-width: 100%;
	max-height: 100%;
	width: auto;
	height: auto;
}
/* Left Box END */

/* Right Box */
.right-box {
	width: var(--right-box-width);
	height: fit-content;

	padding: 10px 10px 10px 20px;

	/* display: flex;
	align-items: center;
	flex-direction: column; */

	background: white;
}

/* .right-box .scenery-select {

} */
.right-box .scenery-select :deep() .el-select {
	width: 30%;
	margin-right: 15px;
}
.right-box .scenery-select .new-scenery-tip {
	margin-top: -10px;
	margin-left: 50px;
	width: fit-content;

	text-align: left;
	font-size: 14px;
	color: var(--link-color);
	cursor: pointer;
}

.right-box .rate {
	text-align: left;
	margin-left: 35px;
}

/* .right-box .content {

} */
.right-box .content :deep() .el-textarea__inner {
	height: 350px;
}

.right-box .btn {
	width: 80px;
	height: 37px;
	margin-top: 15px;

	display: flex;
	align-items: center;
	justify-content: center;

	border-radius: 5px;
	color: var(--button-primary-color);
	background: var(--button-primary-bg);

	cursor: pointer;
}
.right-box .btn:hover {
	background: var(--button-primary-bg-hover);
}
.right-box .btn:active {
	background: var(--button-primary-bg-active);
}
/* Right Box END */

</style>