<template>
	<div v-wechat-title="'创建景点'"></div>

	<div class="post">
		<!-- upload pics -->
		<div class="left-box">
			<h3 class="title">
				上传景点图片
			</h3>
			<div class="img-upload">
				<el-upload
					action
					:file-list="imgList"
					:on-remove="handleRemove"
					:before-upload="beforeUpload"
					:http-request="uploadRequest"
					list-type="picture"
					multiple
					:auto-upload="true"
				>
					<div class="btn">
						Upload<el-icon class="el-icon--right"><Upload /></el-icon>
					</div>
					<div class="el-upload__tip">只能上传jpg/png文件，且不超过 2MB</div>
				</el-upload>
			</div>
		</div>

		<!-- details -->
		<div class="right-box">
			<!-- select scenery -->
			<h3 class="title">
				景点所在地区*
			</h3>
			<div class="scenery-select">
				<!-- select -->
				<el-form label-width="70px" status-icon>
					<!-- select address -->
					<el-form-item label="地址">
						<el-select v-model="province" placeholder="请选择">
							<el-option
								v-for="(item, index) in provinceList"
								:key="index"
								:label="item"
								:value="index">
							</el-option>
						</el-select>
						<el-select v-model="city" placeholder="请选择">
							<el-option
								v-for="(item, index) in cityList"
								:key="index"
								:label="item"
								:value="index">
							</el-option>
						</el-select>
						<el-select v-model="district" placeholder="请选择">
							<el-option
								v-for="(item, index) in districtList"
								:key="index"
								:label="item"
								:value="index">
							</el-option>
						</el-select>
					</el-form-item>
					<!-- select address END -->
				</el-form>
				<!-- select END -->
			</div>
			<!-- select scenery END -->

			<div class="content">
				<h3 class="title">
					景点详细地址
				</h3>

				<el-input
					v-model="street"
					type="textarea"
					placeholder="detailed address of the scenery"
					maxlength="50"
					show-word-limit
					:autosize="{ minRows: 1 }"
				>
				</el-input>
			</div>

			<div class="content">
				<h3 class="title">
					景点名称*
				</h3>

				<el-input
					v-model="name"
					type="textarea"
					placeholder="the name of the scenery"
					maxlength="20"
					show-word-limit
					:autosize="{ minRows: 1 }"
				>
				</el-input>
			</div>

			<div class="content">
				<h3 class="title">
					景点参考价格*
				</h3>

				<el-input-number class="price" v-model="price" :precision="1" :step="10" :max="9999" />
			</div>

			<!-- rate -->
			<h3 class="title">
				给景点评分*
			</h3>
			<div class="rate">
				<el-rate
					style="display: inline;"
					size="large"
					v-model="score"
					show-text
					:colors="['#99A9BF', '#F7BA2A', '#FF9900']"
					:texts="['很差', '较差', '一般', '满意', '完美']"
					allow-half
					@change="rate"
				/>
				<!-- @change的函数的参数默认为绑定的值，但如果这里用了rate()或rate(value)会覆盖掉 -->
			</div>
			<!-- Rate END -->

			<!-- Content -->
			<div class="content">
				<h3 class="title">
					景点介绍*
				</h3>

				<el-input
					v-model="intro"
					type="textarea"
					placeholder="Say something~"
					maxlength="500"
					show-word-limit
					:autosize="{ minRows: 3 }"
				>
				</el-input>
			</div>

			<div class="content">
				<h3 class="title">
					景点开放时间
				</h3>

				<el-input
					v-model="openTime"
					type="textarea"
					placeholder=""
					maxlength="200"
					show-word-limit
					:autosize="{ minRows: 2 }"
				>
				</el-input>
			</div>
			<!-- Content END -->

			<div class="hint">
				星号(*)为必填项
			</div>

			<!-- Button -->
			<div class="btn" @click="submitCard()">
				发表
			</div>
			<!-- Button END -->
		</div>
	</div>
</template>


<script>
import NavMenu from '@/components/NavMenu'

import { ElMessage } from 'element-plus'
import * as AMapAPI from '@/api/sdk'
import * as SceneryAPI from '@/api/scenery'
import * as UploadAPI from '@/api/upload'

export default {
	name: 'Post',
	components: { NavMenu, },
	props: {
		user: { required: true, },
	},
	data() {
		return{
			// -- image upload --
			imgList: [], // {name:'', url:''}
			// 上传到数据库的图片key
			imgKeys: [], // {name:'', key:''}

			// -- address select --
			province: 0,
			city: 0,
			district: 0,
			provinceList: ['请选择', '北京市', '上海市', '香港', '福建省'],
			cityList: ['请选择'],
			districtList: ['请选择'],

			// -- detail information --
			street: '',
			score: 0.0,
			price: 0.0,
			name: '',
			intro: '',
			openTime: '',
		}
	},
	created() {
		// this.getDistricts(1, '中国', 'p')
	},
	watch: {
		province: function() {
			this.getDistricts(this.province, this.provinceList[this.province], 'c')
			this.city = 0
			this.district = 0
			this.districtList = ['请选择']
		},
		city: function() {
			this.getDistricts(this.city, this.cityList[this.city], 'd')
			this.district = 0
		},
	},
	methods: {
		// -- image upload --
		handleRemove(file, fileList) {
			for (let i in this.imgKeys) {
				if (this.imgKeys[i].name == file.name) {
					this.imgKeys.splice(i, 1)
				}
			}
			// console.log('imgKeys:', this.imgKeys)
		},
		beforeUpload(file) {
			// 在上传前 imgList 就会被更新
			if (this.imgList.length >= 6) {
				ElMessage.error('最多只能上传5张图片哦！')
				return false
			}
			const isPNG = file.type === 'image/png' || file.type === 'image/jpeg'
			const isLT1M = file.size / 1024 / 1024 < 2
			if (!isPNG) {
				ElMessage.error('只能上传 JPG/PNG 格式的图片！')
			}
			if (!isLT1M) {
				ElMessage.error('上传图片的大小不能超过 2MB！')
			}
			return isPNG && isLT1M
		},
		uploadRequest(option) {
			// return
			UploadAPI
				.uploadImage(option.file.name)
				.then(res => {
					if (res.status === 200) {
						const xhr = new XMLHttpRequest()
						xhr.open('PUT', res.data.putURL, true)
						xhr.send(option.file)
						xhr.onload = () => {
							this.imgKeys.push({name:option.file.name, key:res.data.key})
							// this.imgList.push({name:option.file.name, url:res.data.getURL}) // url使用本地的即可，无需在此修改
						}
					} else if (res.status === 20001) {
						//token过期，需要重新登录
						this.loginExpired(res.msg)
					} else {
						ElMessage.error('上传失败：' + res.msg)
					}
				})
				.catch(error => {
					ElMessage.error('上传失败：' + error)
				})
		},

		// -- scenery select --
		getDistricts(index, keyword, choose) {
			if (index == 0) {
				if (choose == 'c') {
					this.cityList = ['请选择']
				}
				else if (choose == 'd') {
					this.districtList = ['请选择']
				}
				return
			}
			AMapAPI
				.getDistricts(keyword)
				.then(res => {
					if (res.status === 200) {
						res.data.unshift('请选择')
						if (choose == 'p') {
							this.provinceList = res.data
						} else if (choose == 'c') {
							this.cityList = res.data
						} else {
							this.districtList = res.data
						}
					} else {
						ElMessage.error('获取地址列表失败：'+res.msg)
					}
				})
				.catch(err => {
					ElMessage.error('获取地址列表失败：'+err)
				})
		},

		// -- rate --
		rate(value) {
			// ElMessage.success(`评价成功${this.score} ${value}`)
		},

		// -- submit --
		submitCard() {
			if (this.imgList.length == 0) {
				ElMessage.error('请选择至少一张图片上传哦')
				return
			}
			if (this.district <= 0) {
				ElMessage.error('景点地址请至少精确到区/县哦')
				return
			}
			if (this.score == 0) {
				ElMessage.error('请先给景点评分哦')
				return
			}
			if (this.name == '') {
				ElMessage.error('给景点起个名字叭~')
				return
			}
			if (this.intro == '') {
				ElMessage.error('说点什么叭~')
				return
			}
			if (!this.user) {
				ElMessage.error('请先登录哦')
				return
			}
			var pics = []
			for (var v of this.imgKeys) {
				pics.push(v.key)
			}
			SceneryAPI
				.createScenery(this.name, this.provinceList[this.province], this.cityList[this.city], this.districtList[this.district], this.street, this.intro, this.openTime, this.price, this.score, pics)
				.then(res => {
					if (res.status === 200) {
						ElMessage.success(`景点创建成功！`)
						setTimeout(() => {
							this.$router.push({
								name: 'Scenery',
								query: {id: res.data},
							})
						}, 300);
					} else if (res.status === 20001) {
						this.loginExpired(res.msg)
					} else {
						ElMessage.error('新建景点失败：'+res.msg)
					}
				})
				.catch(err => {
					ElMessage.error('新建景点失败：'+err)
				})
		},
	},
}
</script>

<style scoped>
.post {
	--left-box-width: 350px;
	--right-box-width: calc(var(--main-width) - var(--left-box-width));
	--upload-image-width: 250px;
	--upload-image-height: 90px;

	width: var(--main-width);
	min-height: calc(100vh - var(--main-padding-top));
	margin: 0 auto 0;

	padding-top: var(--main-padding-top);
	/* padding-bottom: var(--main-padding-bottom); */

	display: flex;
	flex-direction: row;
}

.post .title {
	margin: 16px 0;
	width: 100%;
	/* padding-left: 75px; */
	text-align: left;
}

/* Left Box */
.left-box {
	width: var(--left-box-width);
	margin: 0px 50px;

	/* display: flex;
	align-items: center;
	flex-direction: column; */
}

/* .left-box .img-upload {

} */

.left-box .img-upload .btn {
	width: 91px;
	height: 33px;

	display: flex;
	align-items: center;
	justify-content: center;

	border-radius: 5px;
	color: var(--button-primary-color);
	background: var(--button-primary-bg);
}
.left-box .img-upload .btn:hover {
	background: var(--button-primary-bg-hover);
}
.left-box .img-upload .btn:active {
	background: var(--button-primary-bg-active);
}
.left-box .img-upload :deep() .el-upload__tip {
	margin-left: 5px;
}
.left-box .img-upload :deep() .el-upload-list__item {
	width: var(--upload-image-width);
	height: var(--upload-image-height);

	margin: 13px auto 0px;
}
.left-box .img-upload :deep() .el-upload-list__item-thumbnail {
	max-width: 100%;
	max-height: 100%;
	width: auto;
	height: auto;
}
/* Left Box END */

/* Right Box */
.right-box {
	width: var(--right-box-width);
	height: fit-content;

	padding: 10px 10px 10px 20px;

	/* display: flex;
	align-items: center;
	flex-direction: column; */

	background: white;
}

/* .right-box .scenery-select {

} */
.right-box .scenery-select :deep() .el-select {
	width: 30%;
	margin-right: 15px;
}
.right-box .scenery-select .new-scenery-tip {
	margin-top: -10px;
	margin-left: 50px;
	width: fit-content;

	text-align: left;
	font-size: 14px;
	color: var(--link-color);
	cursor: pointer;
}

.right-box .rate {
	text-align: left;
	margin-left: 35px;
}

/* .right-box .content {

} */
.right-box .content :deep() .el-textarea__inner {
	height: 350px;
}

.right-box .content .price {
	text-align: left;
    display: block;
    margin-left: 30px;
}

.right-box .btn {
	width: 80px;
	height: 37px;
	margin-top: 15px;

	display: flex;
	align-items: center;
	justify-content: center;

	border-radius: 5px;
	color: var(--button-primary-color);
	background: var(--button-primary-bg);

	cursor: pointer;
}
.right-box .btn:hover {
	background: var(--button-primary-bg-hover);
}
.right-box .btn:active {
	background: var(--button-primary-bg-active);
}

.right-box .hint {
    margin-top: 5px;

    font-size: 13px;
	text-align: left;
    font-weight: 200;
}
/* Right Box END */

</style>