<template>
	<div v-wechat-title="scenery.sceneryName"></div>

	<Title></Title>
	<div class="scenery">

		<div class="scenery-detail">
			<div class="carousel">
				<Carousel :images="scenery.pictures"></Carousel>
			</div>

			<div class="info">
				<div class="title"> {{scenery.sceneryName}} </div>
				<div class="content address">
					{{scenery.province+' '+scenery.city+' '+scenery.district}}
				</div>
				<div class="content street">
					{{scenery.street}}
				</div>
				<div class="content intro" id="intro"></div>
			</div>
		</div>

		<div class="small-cards relative function">
			<div class="small_card">
				<div class="info" style="display:flex; flex-direction:column;">
					<a class="content">{{scenery.province+' '+scenery.city+' '+scenery.district}}</a>
					<a class="content">{{scenery.street}}</a>
				</div>
				<div class="small_title">
					<el-icon size="35px" class="icon">
						<Location />
					</el-icon>
					address
				</div>
			</div>
			<div class="small_card">
				<div class="info">
					<a class="content">{{scenery.openTime}}</a>
				</div>
				<div class="small_title">
					<el-icon color="#409EFC" size="35px" class="icon">
						<Clock />
					</el-icon>
					open time
				</div>
			</div>
			<div class="small_card">
				<div class="info">
					<!-- <a>{{scenery.price}}</a> -->
					<div class="content">
						<span v-if="scenery.price>0">
							<span style="font-size:15px; color:red;">￥</span>
							<span style="font-size:21px; color:red;">{{scenery.price}}</span>
							<span style="font-size:15px;">&nbsp;起</span>
						</span>
						<span v-else>
							<span style="font-size:18px; color:#f60;">免费</span>
						</span>
					</div>
				</div>
				<div class="small_title">
					<el-icon color="#409EFC" size="35px" class="icon">
						<Coin />
					</el-icon>
					price
				</div>
			</div>
			<div class="small_card">
				<div class="info">
					<!-- <a>{{scenery.score}}</a> -->
					<div class="content" style="font-size: 16px; color: #666;">
						<span v-if="scenery.score>0">
							<span style="font-size: 22px; color: #f60;">{{scenery.score.toFixed(1)}}</span>/5分
						</span>
						<span v-else>
							暂无评分
						</span>
					</div>
				</div>
				<div class="small_title">
					<el-icon size="35px" class="icon">
						<StarFilled />
					</el-icon>
					score
				</div>
			</div>
		</div>

		<div class="cards">
			<CardLists :cardList="cardList" :noCardsHint="'该景点没有相关卡片哦'"></CardLists>
		</div>
	</div>
</template>

<script>
import Carousel from "@/components/Carousel";
import Title from "@/components/Title";
import CardLists from '@/components/CardLists'

import { ElMessage } from 'element-plus'
import { paraSeparate } from '@/utils/common.js'
import * as CardAPI from '@/api/scenery_card'
import * as SceneryAPI from '@/api/scenery'

export default {
	name:"Scenery",
	components: { Carousel, Title, CardLists, },
	props: {
		user: {},
	},
	data() {
		return {
			sceneryID: -1,
			scenery: {
				price:'￥75',
				address:'日本本州岛中南部',
				openTime:'10:00~18:00',
				score:4.5,
				intro:"景点详情:富士山，圣地和艺术灵感的来源，位于日本东京西南方约80公里处，是日本的重要象征之一。富士山是日本一座横跨静冈县和山梨县的活火山，是日本国内的最高峰。富士山被日本人民誉为“圣岳”，是日本民族引以为傲的象征。富士山山体高耸入云，山巅白雪皑皑，放眼望去，好似一把悬空倒挂的扇子，因此也有“玉扇”之称。富士山作为日本的象征之一，在全球享有盛誉，也经常被称作“芙蓉峰”或“富岳”以及“不二的高岭”。",
			},

			// 景点相关的卡片列表
			cardList: [],
			nextQueryOK: false,
		};
	},
	activated() {
		if (this.$route.query.id == undefined) {
			this.$router.push({
				name: 'NotFound',
			})
			return
		}
		this.sceneryID = Number(this.$route.query.id)
		this.getScenery()
		this.getCards() // ...因为数据库响应慢可能出bug
		setTimeout(() => {
			this.nextQueryOK = true
		}, 500);
	},
	mounted() {
		window.addEventListener('scroll', this.handleScroll, true)
	},
	deactivated() {
		window.removeEventListener('scroll', this.handleScroll, true);
	},
	methods: {
		handleScroll() {
			const docEle = document.documentElement
			const docBody = document.body
			let scrollTop = docEle.scrollTop || docBody.scrollTop // 滚动条距离顶部的距离
			let windowHeight = docEle.clientHeight || docBody.clientHeight // 可视区的高度
			let scrollHeight = docEle.scrollHeight || docBody.scrollHeight //dom元素的高度，包含溢出不可见的内容

			if (scrollHeight <= Math.ceil(scrollTop) + windowHeight && this.nextQueryOK) {
				this.nextQueryOK = false
				setTimeout(() => {
					this.nextQueryOK = true
				}, 1000);

				this.getCards()
			}
		},
		// -- 获取 Scenery --
		getScenery() {
			if (this.sceneryID == -1) return
			SceneryAPI
				.getSceneryByID(this.sceneryID)
				.then(res => {
					if (res.status === 200) {
						this.scenery = res.data
						console.log(this.scenery)

						this.scenery.intro = paraSeparate(this.scenery.intro)
						document.getElementById("intro").innerHTML = this.scenery.intro

						// 后端会保证不会传入null，不会使Carousel错误，但还是判一下
						if (this.scenery.pictures == null) {
							this.scenery.pictures = []
						}
					} else if (res.status === 20001) {
						this.loginExpired(res.msg)
					} else {
						ElMessage.error('获取景点信息失败：'+res.msg)
					}
				})
				.catch(err => {
					ElMessage.error('获取景点信息失败：'+err)
				})
		},
		// -- 获取 Scenery Cards --
		getCards() {
			if (this.sceneryID == -1) return
			CardAPI
				.getSceneryCardsByScenery(this.sceneryID, this.cardList.length, 9)
				.then(res => {
					if (!res.data || res.data.length==0) {
							if (this.cardList.length > 0)
								ElMessage.info('到底啦')
							else
								ElMessage.info('该景点暂无卡片哦')
							return
						}
					if (res.status === 200) {
						for (var v of res.data)
							this.cardList.push(v)
					} else if (res.status === 20001) {
						this.loginExpired(res.msg)
					} else {
						ElMessage.error('获取相关卡片失败：'+res.msg)
					}
				})
				.catch(err => {
					ElMessage.error('获取相关卡片失败：'+err)
				})
		},
	},
};
</script>

<style scoped>
.scenery {
	--max-image-width: 500px;
	--max-image-height: 600px;

	/* 覆盖App.vue */
	--main-padding-top: 20px;

	width: var(--main-width);
	min-height: calc(100vh - var(--main-padding-top) - var(--main-padding-bottom));
	margin: 0 auto 0;

	padding-top: var(--main-padding-top);
	padding-bottom: var(--main-padding-bottom);
}

.scenery .scenery-detail {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

/* Info */
.scenery .scenery-detail .info  {
	width: calc(100% - var(--max-image-width));
	height: fit-content;
	min-height: 600px;

	/* margin-right: 40px; */
	padding: 0px 10px 10px 10px;
	/* background: white; */
	/* background: #dbeaff; */
	/* background: #eaf3ff; */
	background: #f5e4e6;

	text-align: left;
}

.scenery .scenery-detail .title {
	font-size: 35px;
	/* margin: 15px auto; */
	margin: 50px 20px;
}
.scenery .scenery-detail .intro {
	font-size: 16px;
	padding:20px 0px 0px 30px;

	line-height: 1.6;
}
.scenery .scenery-detail .intro :deep() p {
	/* 上下间距 */
	margin-block-start: 0.5em;
	margin-block-end: 0.5em;

	/* 左右间距 */
	/* margin-inline-start: 7px; */
    /* margin-inline-end: 7px; */
}

.scenery .scenery-detail .info .content {
	/* margin: 10px 0; */
	padding:0px 15px 15px 25px;
	font-size: 18px;
}
/* Info END */

/* Function */
.scenery .function {
	display: flex;
}

.scenery .relative {
	margin-left: 2%;
	margin-right: 2%;
	margin-top: 1%;
	margin-bottom: 1%;
	display: flex;
}
.scenery .function .linear {
	margin-left: 2%;
	margin-right: 2%;
	margin-bottom: 1%;
	margin-top: 1%;
	padding: 2px;
}
.scenery .function .pictures {
	margin-left: 1%;
	margin-top: 1%;
	margin-bottom: 1%;
	margin-right: 1%;
	width: 50%;
	height: 400px;
	font-size: 30px;
	float: left;
	border-radius: 5px;
	font-family: "Times New Roman", Times, serif;
}
.scenery .function .picture_title {
	margin-left: 1%;
	margin-top: 1%;
	margin-bottom: 1%;
	margin-right: 1%;
	border-radius: 8px;
}
.scenery .function .intro {
	margin-right: 1%;
	margin-top: 1%;
	margin-bottom: 1%;
	width: 50%;
	float: right;
	border-radius: 8px;
	text-align: left;
	/*border: 3px solid rgba(255,82,103,.5);*/
	font-family: "Times New Roman", Times, serif;
}
.scenery .function .intro_title {
	margin-left: 3%;
	margin-right: 3%;
	margin-top: 3%;
	margin-bottom: 3%;
	width: 50%;
	font-size: 20px;
	border-radius: 5px;
	text-align: left;
}
.scenery .function .intro_text {
	margin-left: 3%;
	margin-right: 3%;
	text-indent: 2px;
}
.scenery .function .small_card {
	margin-top: 1%;
	margin-bottom: 1%;
	margin-left: 1%;
	margin-right: 1%;
	border-radius: 5px;
	height: 150px;
	width: 25%;
	/*border: 2px solid #969a9f;*/
	font-family: "Times New Roman", Times, serif;
	position: relative;
}
.scenery .function .small_card:hover {
	/* box-shadow: 2px 2px 2px 2px #dbeaff; */
	box-shadow: 2px 2px 2px 2px #f5e4e6;
}
.scenery .function .small_title {
	font-size: 20px;
    font-weight: bold;
	text-align: center;
	font-family: "Times New Roman", Times, serif;
}
.scenery .function .info {
	z-index: 9;
	width: 50px;
	height: 50px;
	/* background: #dbeaff; */
	background: #f5e4e6;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 200px 200px 200px 200px;
	overflow: hidden;
	transition: all 0.5s, border-radius 1.3s, top 1s;
}
.scenery .function .icon {
	/* color: rgba(89, 204, 183, 0.562); */
	color:#e3d1d3;
	opacity: 1;
}
.scenery .function .info {
	opacity: 1;
}
.scenery .function .content {
	opacity: 0;
}
.scenery .function .info:hover {
	width: 100%;
	height: 70%;
	border-radius: 0px 0px 0px 0px;
}
.scenery .function .info:hover .icon {
	opacity: 0;
}
.scenery .function .info:hover .content {
	opacity: 1;
	font-size: 18px;
	font-weight: bold;
	transition: 0.7s;
}
.light-blue {
	background: #dbeaff;
}
.light-pink {
	background: rgba(247, 204, 209, 0.5);
}
.light-green{
	background: rgba(120, 197, 183, 0.612);
}
.light-yellow {
	background: #fbfbc0;
}
.white {
	background: #ffffff;
}
</style>
