<template>
	<div v-wechat-title="'搜索'+p+c+d+k"></div>

	<div class="search">
		<!-- <SearchBar></SearchBar> -->
		<!-- <CardLists></CardLists> -->

		<SceneryList :sceneries="sceneries"></SceneryList>

		<!-- {{sceneries}} -->
	</div>
</template>

<script>
import SearchBar from "@/components/SearchBar";
import SceneryList from "@/components/SceneryList";

import { ElMessage } from 'element-plus'
import * as SceneryAPI from '@/api/scenery'

export default {
	name: 'Home',
	components: { SearchBar, SceneryList, },
	props: {
		user: { required: true, },
	},
	data() {
		return {
			// 搜索选项
			p: '',
			c: '',
			d: '',
			k: '',
			type: 0,

			sceneries: [],
			nextQueryOK: false,

			limit: 10,
		}
	},
	activated() {
		if (this.$route.query.province == undefined || this.$route.query.province == 0) {
			this.$router.push({
				name: 'Home',
			})
			return
		}
		// 1: 关键字查询 2: tag查询
		this.p = this.$route.query.province
		this.c = this.$route.query.city
		this.d = this.$route.query.district
		this.k = this.$route.query.keyword
		this.type = this.$route.query.type

		setTimeout(() => {
			this.nextQueryOK = true
		}, 500);

		if (this.type == 1)
			this.searchKeyword()
		else
			this.searchTag()
	},
	mounted() {
		window.addEventListener('scroll', this.handleScroll)
	},
	destroyed() {
		document.removeEventListener('scroll', this.handleScroll);
	},
	methods: {
		handleScroll() {
			const docEle = document.documentElement
			const docBody = document.body
			let scrollTop = docEle.scrollTop || docBody.scrollTop // 滚动条距离顶部的距离
			let windowHeight = docEle.clientHeight || docBody.clientHeight // 可视区的高度
			let scrollHeight = docEle.scrollHeight || docBody.scrollHeight //dom元素的高度，包含溢出不可见的内容

			if (scrollHeight <= Math.ceil(scrollTop) + windowHeight && this.nextQueryOK) {
				this.nextQueryOK = false
				setTimeout(() => {
					this.nextQueryOK = true
				}, 1000);

				if (this.type == 1)
					this.searchKeyword()
				else
					this.searchTag()
			}
		},
		// -- --
		searchKeyword() {
			SceneryAPI
				.getSceneryByDetail(this.p, this.c, this.d, this.k, this.sceneries.length, this.limit)
				.then(res => {
					if (res.status === 200) {
						if (!res.data) {
							if (this.sceneries.length > 0)
								ElMessage.info('到底啦')
						}
						else {
							for (var v of res.data)
								this.sceneries.push(v)
						}
					} else if (res.status === 20001) {
						this.loginExpired(res.msg)
					} else {
						ElMessage.error('获取景点信息失败：'+res.msg)
					}
				})
				.catch(err => {
					ElMessage.error('获取景点信息失败：'+err)
				})
		},
		searchTag() {
			SceneryAPI
				.getSceneryByTag(this.p, this.c, this.d, this.k, this.sceneries.length, this.limit)
				.then(res => {
					if (res.status === 200) {
						if (!res.data) {
							if (this.sceneries.length > 0)
								ElMessage.info('到底啦')
						}
						else {
							for (var v of res.data)
								this.sceneries.push(v)
						}
					} else if (res.status === 20001) {
						this.loginExpired(res.msg)
					} else {
						ElMessage.error('获取景点信息失败：'+res.msg)
					}
				})
				.catch(err => {
					ElMessage.error('获取景点信息失败：'+err)
				})
		},
	},
}
</script>

<style scoped>
.search {
	width: var(--main-width);
	min-height: calc(100vh - var(--main-padding-top));
	margin: 0 auto 0;

	padding-top: var(--main-padding-top);
	/* padding-bottom: var(--main-padding-bottom); */
}
</style>
