// 注意使用 user.id 前必须判断 user //
实际上请求会返回用户的完整地址。应该不返回具体地址。
<template>
  <div v-wechat-title="owner.username + '的主页'"></div>
  <!-- img并不能设置成功 -->
  <!-- <div v-wechat-title="'用户详情'" img-set="require('../assets/icon/liked.png')"></div> -->

  <div class="user">
    <!-- User Container -->
    <div class="user-container">
      <!-- Left -->
      <div class="left">
        <div class="avatar">
          <img class="avatar-img" :src="owner.avatar" alt="" />
        </div>
      </div>
      <!-- Left END -->

      <!-- Right -->
      <div class="right">
        <div class="name-wrapper">
          <div class="name">
            {{ owner.username }}
          </div>
          <div class="gender" v-if="genderImg">
            <img class="gender-img" :src="genderImg" />
          </div>
          <div class="age" v-if="owner.age > 0">{{ owner.age }}岁</div>
        </div>
        <div class="address">
          <span class="address-description">居住在</span>
          {{ owner.province }}&nbsp;{{ owner.city }}
          <span v-if="user && owner.id == user.id">{{ owner.district }}</span>
        </div>

        <div
          class="info-update-tip"
          @click="showDialog = true"
          v-if="user && owner.id == user.id"
        >
          点击修改个人信息
        </div>

        <!-- 注意brief不应有太多字 -->
        <div class="brief">
          {{ owner.brief }}
        </div>

        <div class="numbers">
          <div class="number">关注&thinsp;{{ owner.followees }}</div>
          <div class="number">粉丝&thinsp;{{ owner.followers }}</div>
          <div class="number">获赞&thinsp;{{ owner.likes }}</div>
        </div>

        <div class="btn-wrapper">
          <div
            class="btn"
            :class="{
              muted: !user || owner.id == user.id,
              cancel: followed,
              active: user && owner.id != user.id && !followed,
            }"
            @click="followHandler()"
          >
            {{ followed ? "取消关注" : "关注" }}
          </div>
        </div>
      </div>
      <!-- Right END -->
    </div>
    <!-- User Container END -->

    <!-- Dialog -->
    <div class="dialog">
      <el-dialog v-model="showDialog" title="信息修改">
        <div class="wrapper">
          <div class="avatar">
            <img class="avatar-img" :src="avatar" alt="" />
          </div>

          <div class="img-upload">
            <el-upload
              action
              :on-remove="handleRemove"
              :before-upload="beforeUpload"
              :http-request="uploadRequest"
              :auto-upload="true"
              :limit="1"
            >
              <div class="btn">
                上传头像<el-icon class="el-icon--right"><Upload /></el-icon>
              </div>
              <div class="el-upload__tip">
                只能上传jpg/png文件，且不超过 2MB
              </div>
            </el-upload>
          </div>
        </div>

        <div class="content">
          <h3 class="title">年龄</h3>

          <el-input-number v-model="age" :min="1" :max="99" />
        </div>

        <div class="content">
          <h3 class="title">性别</h3>

          <el-select v-model="gender">
            <el-option
              v-for="(item, index) in ['男', '女', '保密']"
              :key="index"
              :label="item"
              :value="item"
            />
          </el-select>
        </div>

        <!-- select address -->
        <div class="scenery-select content">
          <h3 class="title">地址</h3>

          <el-select v-model="province" placeholder="请选择">
            <el-option
              v-for="(item, index) in provinceList"
              :key="index"
              :label="item"
              :value="index"
            >
            </el-option>
          </el-select>
          <el-select v-model="city" placeholder="请选择">
            <el-option
              v-for="(item, index) in cityList"
              :key="index"
              :label="item"
              :value="index"
            >
            </el-option>
          </el-select>
          <el-select v-model="district" placeholder="请选择">
            <el-option
              v-for="(item, index) in districtList"
              :key="index"
              :label="item"
              :value="index"
            >
            </el-option>
          </el-select>
        </div>
        <!-- select address END -->

        <div class="content">
          <h3 class="title">个人介绍</h3>

          <el-input
            style="margin-left: 20px; width: 95%"
            v-model="brief"
            type="textarea"
            placeholder="Say something~"
            maxlength="200"
            show-word-limit
            :autosize="{ minRows: 4 }"
          >
          </el-input>
        </div>

        <!-- Button -->
        <div class="submit-btn" @click="updateInfo()">提交</div>
        <!-- Button END -->
      </el-dialog>
    </div>
    <!-- Dialog END -->

    <div class="bar">
      <span class="type" :class="{ chosen: type == 0 }" @click="chooseType(0)"
        >发表的卡片</span
      >
      <span class="type" :class="{ chosen: type == 1 }" @click="chooseType(1)"
        >关注</span
      >
      <span class="type" :class="{ chosen: type == 2 }" @click="chooseType(2)"
        >粉丝</span
      >
      <span
        class="type"
        v-if="user && owner.id == user.id"
        :class="{ chosen: type == 3 }"
        @click="chooseType(3)"
        >我的点赞</span
      >
      <span
        class="type"
        v-if="user && owner.id == user.id"
        :class="{ chosen: type == 4 }"
        @click="chooseType(4)"
        >我的收藏</span
      >
    </div>

    <div class="list">
      <!-- 当前选择界面 0:卡片 2:关注 3:粉丝 (本人)4:点赞 5:收藏 -->
      <!-- <CardLists v-show="type==0" />
			<UserList v-show="type==1" />
			<UserList v-show="type==2" />
			<CardLists v-if="owner.id==user.id" v-show="type==3" />
			<CardLists v-if="owner.id==user.id" v-show="type==4" /> -->
      <CardLists
        v-show="type == 0"
        :cardList="cards"
        :noCardsHint="'ta还没有发表过卡片哦'"
      />
      <UserList v-show="type == 1" :userList="followees" />
      <UserList v-show="type == 2" :userList="followers" />
      <CardLists
        v-if="user && owner.id == user.id"
        v-show="type == 3"
        :cardList="likes"
        :noCardsHint="'还没有点赞过卡片哦'"
      />
      <CardLists
        v-if="user && owner.id == user.id"
        v-show="type == 4"
        :cardList="bookmarks"
        :noCardsHint="'还没有收藏过卡片哦'"
      />
    </div>
    <!-- <CardLists :cardList1="cardList1" :cardList2="cardList2" :cardList3="cardList3"></CardLists> -->
  </div>
</template>

<script>
import NavMenu from "@/components/NavMenu";
import CardLists from "@/components/CardLists";
import UserList from "@/components/UserList";

import { deepCopy } from "@/utils/common.js";
import { mapActions } from "vuex";
import { ElMessage } from "element-plus";
import * as AMapAPI from "@/api/sdk";
import * as CardAPI from "@/api/scenery_card";
import * as FollowAPI from "@/api/follow";
import * as UploadAPI from "@/api/upload";
import * as UserAPI from "@/api/user";

export default {
  name: "Home",
  components: { NavMenu, CardLists, UserList },
  props: {
    // ! 注意这是当前登录用户
    user: { required: true },
  },
  data() {
    return {
      ownerID: -1,
      owner: {},

      // 是否已关注该用户
      followed: false,

      // 当前选择界面 0:卡片 1:关注 2:粉丝 (本人)3:点赞 4:收藏
      type: 0,
      cards: [],
      followees: [],
      followers: [],
      likes: [],
      bookmarks: [],

      nextQueryOK: false,

      limit: 12, // 单次查询数量
      // offset: 0, // 查询开始位置通过length指定

      // 信息修改
      showDialog: false,
      gender: "保密",
      age: 18,
      brief: "",

      // -- address select --
      province: 0,
      city: 0,
      district: 0,
      provinceList: ["请选择"],
      cityList: ["请选择"],
      districtList: ["请选择"],

      // image upload
      avatar: "", // url
      // 上传到数据库的图片key
      avatarKey: "", // key
    };
  },
  activated() {
    if (this.$route.query.id == undefined) {
      this.$router.push({
        name: "NotFound",
      });
      return;
    }
    this.ownerID = Number(this.$route.query.id);
    this.getOwnerInfo();
    this.getOtherInfo();
    setTimeout(() => {
      this.nextQueryOK = true;
    }, 1000);
  },
  computed: {
    genderImg() {
      var gender = this.owner.gender;
      if (gender == "男") return require("@/assets/icon/male.png");
      else if (gender == "女") return require("@/assets/icon/female.png");
      else return "";
    },
  },
  created() {
    this.getDistricts(1, "中国", "p");
  },
  watch: {
    province: function () {
      this.getDistricts(this.province, this.provinceList[this.province], "c");
      this.city = 0;
      this.district = 0;
      this.districtList = ["请选择"];
    },
    city: function () {
      this.getDistricts(this.city, this.cityList[this.city], "d");
      this.district = 0;
    },
  },
  mounted() {
    window.addEventListener("scroll", this.handleScroll, true);
  },
  deactivated() {
    window.removeEventListener("scroll", this.handleScroll, true);
    this.cards = [];
  },
  methods: {
    ...mapActions(["setUser", "setUserInfo"]),
    handleScroll() {
      const docEle = document.documentElement;
      const docBody = document.body;
      let scrollTop = docEle.scrollTop || docBody.scrollTop; // 滚动条距离顶部的距离
      let windowHeight = docEle.clientHeight || docBody.clientHeight; // 可视区的高度
      let scrollHeight = docEle.scrollHeight || docBody.scrollHeight; //dom元素的高度，包含溢出不可见的内容

      if (
        scrollHeight <= Math.ceil(scrollTop) + windowHeight &&
        this.nextQueryOK
      ) {
        this.nextQueryOK = false;
        setTimeout(() => {
          this.nextQueryOK = true;
        }, 1000);

        // 当前选择界面 0:卡片 1:关注 2:粉丝 (本人)3:点赞 4:收藏
        switch (this.type) {
          case 0:
            this.getCards(1);
            break;
          case 1:
            this.getFollowers(1);
            break;
          case 2:
            this.getFollowers(0);
            break;
          case 4:
            this.getCards(2);
            break;
          case 5:
            this.getCards(3);
            break;
        }
      }
    },
    // -- --
    getOwnerInfo() {
      if (this.ownerID == -1) return;

      // check if user has followed the owner
      if (this.user && this.user.id != this.ownerID) {
        var ids = [];
        ids.push(this.ownerID);
        FollowAPI.checkFollowUser(this.user.id, ids)
          .then((res) => {
            if (res.status === 200) {
              // 注意返回的是arrays
              if (res.data != null) {
                this.followed = res.data[0];
              }
            } else if (res.status === 20001) {
              this.loginExpired(res.msg);
            } else {
              ElMessage.error("获取关注信息失败：" + res.msg);
            }
          })
          .catch((err) => {
            ElMessage.error("获取关注信息失败：" + err);
          });
      }

      // this.owner = {
      // 	id: this.ownerID,

      // 	age: 18,
      // 	gender: '男',
      // 	province: '山东省',
      // 	city: '济南市',
      // 	district: '',

      // 	username: `用户${this.ownerID}`,
      // 	avatar: 'https://s1.ax1x.com/2022/06/06/X0IPZ8.jpg',
      // 	likes: 312,
      // 	followers: 31,
      // 	followees: 41,
      // }
      UserAPI.getUserInfo(this.ownerID)
        .then((res) => {
          if (res.status === 200) {
            this.owner = res.data;
            this.avatar = this.owner.avatar;
            this.gender = this.owner.gender;
            this.brief = this.owner.brief;
            this.age = this.owner.age;
            if (this.age == 0) this.age = 18;
          } else if (res.status === 20001) {
            this.loginExpired(res.msg);
          } else {
            ElMessage.error("获取用户信息失败：" + res.msg);
          }
        })
        .catch((err) => {
          ElMessage.error("获取用户信息失败：" + err);
        });
    },
    followHandler() {
      if (!this.user) {
        ElMessage.error("请先登录哦");
        return;
      }
      if (this.ownerID == this.user.id) {
        ElMessage.error("不能关注自己哦");
        return;
      }

      if (this.followed == true) {
        this.follow(1);
      } else {
        this.follow(0);
      }
      this.followed = !this.followed;
    },
    follow(type) {
      FollowAPI.followUser(this.user.id, this.ownerID, type)
        .then((res) => {
          if (res.status === 200) {
            if (type == 0) {
              this.owner.followers++;
              ElMessage.success("关注成功");
            } else {
              this.owner.followers--;
              ElMessage.success("取消关注成功");
            }
          } else if (res.status === 20001) {
            this.loginExpired(res.msg);
          } else {
            ElMessage.error("关注或取消关注失败：" + res.msg);
          }
        })
        .catch((err) => {
          ElMessage.error("关注或取消关注失败：" + err);
        });
    },

    // -- 获取 type 对应的多种信息 --
    getOtherInfo() {
      this.getFollowers(0);
      this.getFollowers(1);
      this.getCards(1);
      if (this.user && this.user.id == this.ownerID) {
        this.getCards(2);
        this.getCards(3);
      }
    },
    getCards(type) {
      var offset = 0;
      if (type == 1) offset = this.cards.length;
      else if (type == 2) offset = this.likes.length;
      else if (type == 3) offset = this.bookmarks.length;
      CardAPI.getSceneryCardsByUser(this.ownerID, type, offset, this.limit)
        .then((res) => {
          if (res.status === 200) {
            if (!res.data || res.data.length == 0) {
              if (offset > 0) ElMessage.info("到底啦");
              return;
            }
            if (type == 1) {
              for (var v of res.data) this.cards.push(v);
            } else if (type == 2) {
              for (var v of res.data) this.likes.push(v);
            } else if (type == 3) {
              for (var v of res.data) this.bookmarks.push(v);
            }
          } else if (res.status === 20001) {
            this.loginExpired(res.msg);
          } else {
            ElMessage.error("获取卡片失败：" + res.msg);
          }
        })
        .catch((err) => {
          ElMessage.error("获取卡片失败：" + err);
        });
    },
    getFollowers(type) {
      // 获取用户id
      var ids = [];
      var offset = type == 0 ? this.followers.length : this.followees.length;
      FollowAPI.getFollowList(this.ownerID, type, offset, this.limit)
        .then((res) => {
          if (res.status === 200) {
            if (!res.data || res.data.length == 0) {
              if (offset > 0) ElMessage.info("到底啦");
              return;
            }
            ids = res.data;
            // 获取用户信息
            // 注意api是异步的！！要等结果返回才能进行下次查询
            UserAPI.getUsersInfo(ids)
              .then((res) => {
                if (res.status === 200) {
                  if (type == 0) {
                    for (var v of res.data) this.followers.push(v);
                  } else {
                    for (var v of res.data) this.followees.push(v);
                  }
                } else if (res.status === 20001) {
                  this.loginExpired(res.msg);
                } else {
                  ElMessage.error("获取其它用户信息失败：" + res.msg);
                }
              })
              .catch((err) => {
                ElMessage.error("获取其它用户信息失败：" + err);
              });
          } else if (res.status === 20001) {
            this.loginExpired(res.msg);
          } else {
            ElMessage.error("获取关注列表失败：" + res.msg);
          }
        })
        .catch((err) => {
          ElMessage.error("获取关注列表失败：" + err);
        });
    },

    // -- 切换 type --
    chooseType(value) {
      this.type = value;
    },

    // -- 更新信息 --
    updateInfo() {
      // // Done TODO 更新本地缓存中的user信息（主要是头像、默认地址）
      if (!this.user || this.user.id <= 0) {
        ElMessage.error("请先登录哦");
        return;
      }
      UserAPI.updateUserInfo(
        this.user.id,
        this.gender,
        this.age,
        this.provinceList[this.province],
        this.cityList[this.city],
        this.districtList[this.district],
        this.brief,
        this.avatarKey
      )
        .then((res) => {
          if (res.status === 200) {
            this.showDialog = false;
            ElMessage.success("更新信息成功！");

            var user = deepCopy(this.user);
            user.avatar = this.avatar; // 注意要深拷贝，否则报错
            localStorage.setItem("user", JSON.stringify(user));
            this.setUser(user);

            localStorage.setItem("userInfo", JSON.stringify(res.data));
            this.setUserInfo(res.data);

            setTimeout(() => {
              location.reload();
            }, 1200);
          } else if (res.status === 20001) {
            this.loginExpired(res.msg);
          } else {
            ElMessage.error("更新用户信息失败：" + res.msg);
          }
        })
        .catch((err) => {
          ElMessage.error("更新用户信息失败：" + err);
        });
    },

    // -- image upload --
    handleRemove(file, fileList) {
      this.avatar = this.owner.avatar;
      this.avatarKey = "";
    },
    beforeUpload(file) {
      // 在上传前 img 就会被更新
      const isPNG = file.type === "image/png" || file.type === "image/jpeg";
      const isLT1M = file.size / 1024 / 1024 < 1;
      if (!isPNG) {
        ElMessage.error("只能上传 JPG/PNG 格式的图片哦");
      }
      if (!isLT1M) {
        ElMessage.error("上传头像的大小不能超过 1MB 哦");
      }
      return isPNG && isLT1M;
    },
    uploadRequest(option) {
      UploadAPI.uploadImage(option.file.name)
        .then((res) => {
          if (res.status === 200) {
            const xhr = new XMLHttpRequest();
            xhr.open("PUT", res.data.putURL, true);
            xhr.send(option.file);
            xhr.onload = () => {
              this.avatar = res.data.getURL;
              this.avatarKey = res.data.key;
            };
          } else if (res.status === 20001) {
            this.loginExpired(res.msg);
          } else {
            ElMessage.error("上传失败：" + res.msg);
          }
        })
        .catch((error) => {
          ElMessage.error("上传失败：" + error);
        });
    },
    // -- scenery select --
    getDistricts(index, keyword, choose) {
      if (index == 0) {
        if (choose == "c") {
          this.cityList = ["请选择"];
        } else if (choose == "d") {
          this.districtList = ["请选择"];
        }
        return;
      }
      AMapAPI.getDistricts(keyword)
        .then((res) => {
          if (res.status === 200) {
            res.data.unshift("请选择");
            if (choose == "p") {
              this.provinceList = res.data;
            } else if (choose == "c") {
              this.cityList = res.data;
            } else {
              this.districtList = res.data;
            }
          } else {
            ElMessage.error("获取地址列表失败：" + res.msg);
          }
        })
        .catch((err) => {
          ElMessage.error("获取地址列表失败：" + err);
        });
    },
  },
};
</script>

<style scoped>
.user {
  --container-width: 940px;

  width: var(--main-width);
  min-height: calc(100vh - var(--main-padding-top));
  margin: 0 auto 0;

  padding-top: var(--main-padding-top);
  /* padding-bottom: var(--main-padding-bottom); */
}

.user .user-container {
  width: var(--container-width);
  box-sizing: border-box;
  margin: 20px auto 20px;
  padding: 40px 0 40px 40px;
  height: 240px;
  /* 40 + 40 + 160(avatar) = 240 */

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;

  border: 1px solid #eee;
  border-radius: 8px;
  overflow: hidden;
  background: white;

  text-align: left;
}

/* Left */
.user .user-container .left {
  margin: auto;
}
/* .user .user-container .avatar {

} */
.user .user-container .avatar-img {
  width: 160px;
  height: 160px;

  border-radius: 50%;
  overflow: hidden;
}
/* Left END */

/* Right */
.user .user-container .right {
  width: 100%;
  margin: 0 40px 0;
}

.user .right .name-wrapper {
  display: flex;
  align-items: flex-end;
}
.user .right .name {
  margin-right: 12px;

  font-size: 22px;
  font-weight: bold;
}
.user .right .gender {
  display: flex;
  margin-right: 12px;
}
.user .right .gender-img {
  width: 27px;
  height: 27px;
}
.user .right .age {
  color: #444;
  font-size: 18px;
  font-weight: 500;
}
.user .right .address-description {
  color: #777;
  font-size: 15px;
  font-weight: 600;
}
.user .right .address {
  margin-top: 7px;
  margin-right: 25px;
  display: inline-block;

  color: #444;
  font-size: 16px;
  font-weight: 600;
}

.user .right .info-update-tip {
  width: fit-content;
  display: inline-block;

  text-align: left;
  font-size: 15px;
  color: var(--link-color);
  cursor: pointer;
}

.user .right .brief {
  width: 100%;
  height: 50px;
  margin: 12px 0 20px;

  line-height: 1.5;
  font-size: 16px;
  color: #777;
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: normal;
  white-space: normal;
}

/* .user .right .numbers-btn-wrapper {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
} */

.user .right .numbers {
  display: inline-block;
}
.user .right .number {
  margin-right: 20px;

  display: inline-block;

  /* color: #aaa; */
  color: #666;
  font-size: 19px;
  /* font-weight: bold; */
}

.user .right .btn-wrapper {
  float: right;
}
.user .right .btn {
  width: 100px;
  height: 40px;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 7px;
  font-size: 17px;
  font-weight: bold;
  cursor: pointer;
}
.user .right .active {
  color: var(--button-primary-color);
  background: var(--button-primary-bg);
}
.user .right .active:hover {
  background: var(--button-primary-bg-hover);
}
.user .right .active:active {
  background: var(--button-primary-bg-active);
}
.user .right .muted {
  color: var(--button-color);
  background: var(--button-bg-disabled);
}
.user .right .cancel {
  color: var(--button-color);
  background: var(--button-bg);
}
.user .right .cancel:hover {
  background: var(--button-bg-hover);
}
.user .right .cancel:active {
  background: var(--button-bg-active);
}

/* Bar */
/* .user .bar {

} */
.user .bar .type {
  width: 100px;
  height: 35px;
  margin-right: 6px;

  /* 不用 block 则 width 不生效，不知道为什么 */
  display: inline-block;

  border-bottom: 1px solid #eee;
  color: #555;
  font-size: 18px;
  line-height: 34px;
  cursor: pointer;
}
.user .bar .chosen {
  color: black;
  font-weight: 500;
  border-bottom: 2px solid #ff2741;
}
/* Bar END */

/* Dialog */
.user .dialog {
  text-align: left;
}

.user .dialog :deep() .el-dialog {
  min-width: 780px;
}
.user .dialog :deep() .el-dialog__header {
  margin-left: 30px;
  font-weight: 700;
}
.user .dialog :deep() .el-dialog__body {
  padding-top: 0px;
}

.user .dialog .wrapper {
  margin-left: 30px;
  display: flex;
  align-items: flex-end;
}

.user .dialog .avatar {
  margin: 0 30px 10px 0;
  width: fit-content;
  display: inline-block;
}
.user .dialog .avatar-img {
  width: 160px;
  height: 160px;

  border-radius: 50%;
  overflow: hidden;
}

.user .dialog .content {
  margin: 0 0 20px 10px;
}

.user .dialog .title {
  margin: 0 20px 10px 20px;
  display: inline-block;

  font-size: 17px;
}

.user .dialog :deep() .el-select .el-input__wrapper {
  width: 160px;
  margin-right: 20px;
}

.user .dialog .img-upload {
  display: inline-block;
  min-height: 80px;
}

.user .dialog .img-upload .btn {
  width: 91px;
  height: 33px;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 5px;
  color: var(--button-primary-color);
  background: var(--button-primary-bg);
}
.user .dialog .img-upload .btn:hover {
  background: var(--button-primary-bg-hover);
}
.user .dialog .img-upload .btn:active {
  background: var(--button-primary-bg-active);
}
.user .dialog .img-upload :deep() .el-upload__tip {
  margin-left: 5px;
}
.user .dialog .img-upload :deep() .el-upload-list__item {
  width: var(--upload-image-width);
  height: var(--upload-image-height);

  margin: 13px auto 0px;
}
.user .dialog .img-upload :deep() .el-upload-list__item-thumbnail {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
}

.user .dialog .submit-btn {
  width: 80px;
  height: 37px;
  margin: 10px 0 0 30px;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 5px;
  color: var(--button-primary-color);
  background: var(--button-primary-bg);

  cursor: pointer;
}
.user .dialog .submit-btn:hover {
  background: var(--button-primary-bg-hover);
}
.user .dialog .submit-btn:active {
  background: var(--button-primary-bg-active);
}
/* Dialog END */
</style>
